/* ----- SAMPLE 21 ----- */

$total: 4;
$time: 1.5s;

._slideshow {
	margin: 20px auto;
	width: 300px;
	max-width: 100%;
	position: relative;
	overflow: hidden;
	._slideshow_inner {
		width: #{$total * 100%};
		@include cf;
		._slideshow_item {
			float: left;
			position: relative;
			width: calc(100% / #{$total});
			opacity: 0.0;
			@for $i from 1 through $total {
				&:nth-of-type(#{$i}) {
					left: #{($i - 1) * (-100% / $total)};
					@include animation(slideshow, #{$total * $time}, infinite, linear, #{($i - 1) * $time});
				}
			}
			img {
				max-width: 100%;
				height: auto;
				vertical-align: bottom;
			}
		}
	}
	._slideshow_navigation {
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		bottom: 0;
		li {
			background: $black;
		}
	}
}

@include keyframes(slideshow) {
	0% {
		opacity: 0.0;
	}
	3% {
		opacity: 1.0;
	}
	#{100% / $total} {
		opacity: 1.0;
	}
	#{(100% / $total) + 3%} {
		opacity: 0.0;
	}
	100% {
		opacity: 0.0;
	}
}
