/* ----- SAMPLE 09 ----- */

._accordion {
	details {
		height: 1.4em;
		transition: 0.3s;
		summary {
			cursor: pointer;
			line-height: 1.4em;
		}
		div {
			padding: 0 1.0em;
		}
		&[open] {
			background: $yellow1;
			height: 10.0em;
			summary {}
		}
	}
}
