/* ----- SAMPLE 24 ----- */

._list {
	margin: 0;
	padding: 0;
	list-style: none;
}

._list_mark {
	li {
		&:before {
			display: inline-block;
			margin-right: 0.5em;
			width: 1.0em;
			text-align: center;
		}
	}
	._list_mark_sun:before {
		content: "\002600";
	}
	._list_mark_infinite:before {
		content: "\00221e";
	}
	._list_mark_star:before {
		content: "\002605";
	}
	._list_mark_snow:before {
		content: "\002603";
	}
	._list_mark_smile:before {
		content: "\00263a";
	}
	._list_mark_restriction:before {
		content: "\00238b";
	}
}

._list_circled_number {
	counter-reset: my-counter;
	li {
		&:before {
			content: counter(my-counter);
			counter-increment: my-counter;
			display: inline-block;
			margin-right: 0.5em;
			width: 1.5em;
			height: 1.5em;
			line-height: 1.6em;
			border: 1px solid;
			border-radius: 100%;
			font-size: 0.8em;
			text-align: center;
		}
	}
}



._list_circled_number_black {
	counter-reset: my-counter;
	li {
		&:before {
			content: counter(my-counter);
			counter-increment: my-counter;
			display: inline-block;
			margin-right: 0.5em;
			width: 1.5em;
			height: 1.5em;
			line-height: 1.6em;
			border-radius: 100%;
			background: $black;
			color: $white;
			font-size: 0.8em;
			text-align: center;
		}
	}
}







._list_kanji_number {
	counter-reset: my-counter;
	li {
		&:before {
			content: "他";
			display: inline-block;
			margin-right: 0.5em;
			width: 1.0em;
			text-align: center;
			font-weight: bold;
		}
		&:nth-of-type(1):before {
			content: "壱";
		}
		&:nth-of-type(2):before {
			content: "弐";
		}
		&:nth-of-type(3):before {
			content: "参";
		}
		&:nth-of-type(4):before {
			content: "肆";
		}
		&:nth-of-type(5):before {
			content: "伍";
		}
		&:nth-of-type(6):before {
			content: "陸";
		}
		&:nth-of-type(7):before {
			content: "漆";
		}
		&:nth-of-type(8):before {
			content: "捌";
		}
		&:nth-of-type(9):before {
			content: "玖";
		}
		&:nth-of-type(10):before {
			content: "什";
		}
	}
}
