/* ----- SAMPLE 12 ----- */

._radio_move_checker {
	position: relative;
	width: 280px;
	@include cf;
	label {
		float: left;
		display: block;
		position: relative;
		padding-left: 16px;
		width: 40px;
		height: 14px;
		line-height: 14px;
		font-size: 14px;
		cursor: pointer;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 12px;
			height: 12px;
			border: 1px solid $gray2;
			border-radius: 100%;
		}

	}

	input[type="radio"] {
		display: none;
	}
	._radio_move_checker_mark {
		position: absolute;
		top: 2px;
		width: 10px;
		height: 10px;
		border-radius: 100%;
		background: $pink2;
		opacity: 0.0;
		z-index: -1;
		transition: 0.3s;
	}
}

#demo1:checked ~ ._radio_move_checker_mark {
	left: 2px;
		opacity: 1.0;
}

#demo2:checked ~ ._radio_move_checker_mark {
	left: 58px;
	opacity: 1.0;
}

#demo3:checked ~ ._radio_move_checker_mark {
	left: 114px;
	opacity: 1.0;
}

#demo4:checked ~ ._radio_move_checker_mark {
	left: 170px;
	opacity: 1.0;
}

#demo5:checked ~ ._radio_move_checker_mark {
	left: 226px;
	opacity: 1.0;
}
