/* ----- SAMPLE 13 ----- */

._checkbox_pickup_checker {
	label {
		display: inline-block;
		height: 14px;
		line-height: 14px;
		font-size: 14px;
		cursor: pointer;
		input[type="checkbox"] {
			display: none;
			& + span {
				display: inline-block;
				position: relative;
				padding-left: 16px;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 12px;
					height: 12px;
					border: 1px solid $gray2;
					border-radius: 2px;
				}
				&::after {
					content: "";
					position: absolute;
					top: 7px;
					left: 7px;
					width: 0;
					height: 0;
					background: $pink2;
					border-radius: 100%;
					transition: 0.1s;
				}
			}
			&:checked {
				& + span {
					&::after {
						top: 2px;
						left: 2px;
						width: 10px;
						height: 10px;
						border-radius: 2px;
					}
				}
			}
		}
	}
}
