/* ----- SAMPLE 16 ----- */

._shape {
	border-radius: 100%;
	shape-outside: circle();
}

._shape_right {
	float: right;
	margin-left: 1.0em;
}

._shape_left {
	float: left;
	margin-right: 1.0em;
}
