/* ----- BUTTON ----- */

@mixin button {
	display: inline-block;
	margin: 5px;
	padding: 10px 15px;
	line-height: 1.0;
	border-radius: 3px;
	font-weight: bold;
	text-decoration: none;
	transition: 0.3s;
}

/* ----- BUTTON FLAT ----- */

@each $category in $categories {
	$n: index($categories, $category);
	$color: nth($colors, $n);
	._link_button_flat_#{$category} {
		@include button;
		background: $color;
		@if $category=='white' {
			color: $black;
			&:hover {
				background: darken($color, 15%);
			}
		}
		@else {
			color: $white;
			&:hover {
				background: lighten($color, 15%);
			}
		}
	}
}

/* ----- BUTTON GHOST ----- */

@each $category in $categories {
	$n: index($categories, $category);
	$color: nth($colors, $n);
	._link_button_ghost_#{$category} {
		@include button;
		border: 2px solid;
		color: $color;
		&:hover {
			border-color: $color;
			background: $color;
			color: $white;
		}
	}
}

/* ----- BUTTON PUSH ----- */

@each $category in $categories {
	$n: index($categories, $category);
	$color: nth($colors, $n);
	._link_button_push_#{$category} {
		@include button;
		background: $color;
		@if $category=='white' {
			border-bottom: 3px solid darken($color, 25%);
			color: $black;
		}
		@else {
			border-bottom: 3px solid darken($color, 15%);
			color: $white;
		}
		transition: 0.1s;
		&:hover {
			transform: translateY(2px);
			border-bottom-width: 1px;
		}
	}
}

/* ----- BUTTON REAL ----- */


@each $category in $categories {
	$n: index($categories, $category);
	$color: nth($colors, $n);
	._link_button_real_#{$category} {
		@include button;
		border-radius: 5px;
		color: $white;
		box-shadow: inset 1px 1px 0 rgba($white, 0.7), inset -1px 1px 0 rgba($white, 0.7);
		&:hover {
			box-shadow: inherit;
		}
		@if $category=='white' {
			border: 1px solid $gray2;
			@include gradation1(darken($color, 15%), $white 20%, darken($color, 10%) 60%, darken($color, 25%));
			text-shadow: 0 -1px 1px $gray2;
			&:hover {
				@include gradation1(darken($color, 15%), darken($color, 25%) 20%, darken($color, 35%) 60%, darken($color, 25%));
			}
		}
		@else {
			border: 1px solid darken($color, 10%);
			@include gradation1(lighten($color, 15%), $white 20%, lighten($color, 10%) 60%, $color);
			text-shadow: 0 -1px 1px darken($color, 15%);
			&:hover {
				@include gradation1(lighten($color, 15%), lighten($color, 10%) 20%, darken($color, 10%) 60%, $color);
				color: rgba($white, 0.8);
			}
		}
	}
}
