/* ----- LINK ----- */

@mixin link {
	transition: 0.3s;
	&::before,
	&::after {
		transition: 0.3s;
	}
}

@mixin link_maker {
	display: inline-block;
	position: relative;
	text-decoration: none;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 100%;
		bottom: 0;
		height: 50%;
		background: $gray2;
		transition: 0.3s;
	}
	&:hover::before {
		right: 0;
	}
}

@mixin link_line {
	display: inline-block;
	position: relative;
	text-decoration: none;
	&::before,
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		border-bottom: 1px solid;
		transition: 0.3s;
	}
}

/* ----- COLOR ANIMATION ----- */

@each $category in $categories {
	$n: index($categories, $category);
	$color: nth($colors, $n);
	._link_#{$category} {
		@include link;
		color: $color;
	}
	._link_hover_#{$category}:hover {
		color: $color;
	}
}

/* ----- MAKER ANIMATION ----- */

@each $category in $categories {
	$n: index($categories, $category);
	$color: nth($colors, $n);
	._link_maker_#{$category} {
		@include link_maker;
		&::before {
			background: rgba($color, 0.5);
		}
	}
}


/* ----- LINE ANIMATION ----- */

._link_line_left {
	@include link_line;
	&:before {
		left: 0;
		right: 100%;
	}
	&:hover:before {
		right: 0;
	}
}

._link_line_right {
	@include link_line;
	&:before {
		left: 100%;
		right: 0;
	}
	&:hover:before {
		left: 0;
	}
}

._link_line_center {
	@include link_line;
	&:before {
		left: 50%;
		right: 50%;
	}
	&:hover:before {
		left: 0;
		right: 0;
	}
}

._link_line_wide {
	@include link_line;
	&:before {
		left: 0;
		right: 100%;
	}
	&:after {
		left: 100%;
		right: 0;
	}
	&:hover {
		&:before {
			right: 50%;
		}
		&:after {
			left: 50%;
		}
	}
}
