// LAYOUT
body {
	background: $white;
	color: $black;
}

.wrapper {
	max-height: 100vh;
	overflow: hidden;
	@include flex;
}

.main {
	width: calc(100% - 340px);
	height: 100vh;
	scroll-behavior: smooth;
	overflow-y: scroll;
	order: 2;
	.article {
		padding: 15px;
		min-height: 100vh;
		h2 {
			margin-top: 30px;
		}
		&+.article {
			margin-top: 30px;
		}
	}
}

.side {
	padding: 0 15px 15px;
	width: 340px;
	height: 100vh;
	overflow-y: scroll;
	order: 1;
}
