// PALET
$red1: #FFCDD2;
$red2: #F44336;
$red3: #B71C1C;
$orange1: #FFCC80;
$orange2: #FF9800;
$orange3: #FF6F00;
$yellow1: #FFF9C4;
$yellow2: #FFEE58;
$yellow3: #FDD835;
$lgreen1: #F0F4C3;
$lgreen2: #CDDC39;
$lgreen3: #AFB42B;
$green1: #A5D6A7;
$green2: #43A047;
$green3: #1B5E20;
$lblue1: #B3E5FC;
$lblue2: #4FC3F7;
$lblue3: #03A9F4;
$blue1: #90CAF9;
$blue2: #1E88E5;
$blue3: #0D47A1;
$purple1: #E1BEE7;
$purple2: #9C27B0;
$purple3: #6A1B9A;
$pink1: #F48FB1;
$pink2: #EC407A;
$pink3: #C2185B;
$brown1: #BCAAA4;
$brown2: #795548;
$brown3: #4E342E;
$gray1: #E0E0E0;
$gray2: #9E9E9E;
$gray3: #616161;
$black1: #444444;
$black2: #222222;
$black3: #000000;
$white1: #FFFFFF;
$white2: #F8F4E6;
$white3: #EAE8E1;
$black: $black2;
$white: $white1;
$colors: 'red',
'orange',
'yellow',
'lgreen',
'green',
'lblue',
'blue',
'purple',
'pink',
'brown',
'gray';
$colors1: $red1,
$orange1,
$yellow1,
$lgreen1,
$green1,
$lblue1,
$blue1,
$purple1,
$pink1,
$brown1,
$gray1;
$colors2: $red2,
$orange2,
$yellow2,
$lgreen2,
$green2,
$lblue2,
$blue2,
$purple2,
$pink2,
$brown2,
$gray2;
$colors3: $red3,
$orange3,
$yellow3,
$lgreen3,
$green3,
$lblue3,
$blue3,
$purple3,
$pink3,
$brown3,
$gray3;
