/* ----- ADD ----- */

/* ----- TOOLTIP ----- */

.tooltip {
	position: relative;
	&::after {
		background: $black;
		border-radius: 3px;
		bottom: 2.0em;
		color: $white;
		content: attr(data-tooltip);
		display: none;
		font-size: 0.8em;
		left: 0;
		padding: 10px;
		position: absolute;
		width: 100%;
		@include animation(fadeIn, 0.3s, 1);
	}
	&:hover::after {
		display: block;
	}
}

@include keyframes(fadeIn) {
	0% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}

/* -----  ----- */

.anime-rainbow {
	font-weight: bold;
	cursor: help;
	&:hover {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@include animation(rainbow, 2.0s);
	}
}

@include keyframes(rainbow) {
	0% {
		@include gradation2($red1, $orange3, $yellow3);
	}
	14.28% {
		@include gradation2($orange3, $yellow3, $lime2);
	}
	28.56% {
		@include gradation2($yellow3, $lime2, $green2);
	}
	42.84% {
		@include gradation2($lime2, $green2, $blue3);
	}
	57.12% {
		@include gradation2($green2, $blue3, $purple3);
	}
	71.4% {
		@include gradation2($blue3, $purple3, $pink3);
	}
	85.68% {
		@include gradation2($purple3, $pink3, $red1);
	}
	100% {
		@include gradation2($pink3, $red1, $orange3);
	}
}
