/* ----- LAYOUT ----- */

body {
	background: $gray1;
	color: $black;
}

.wrapper {
	@include flex;
}

header {
	height: 100vh;
	width: 280px;
}

main {
	height: 100vh;
	width: calc(100% - 280px);
}
