/* ----- ACCORDION MENU ----- */

.accordion {
	margin-bottom: 20px;
	details {
		height: 1.4em;
		transition: 0.3s;
		summary {
			cursor: pointer;
			line-height: 1.4em;
			list-style: none;
			&:before {
				content: "\f067";
				font-weight: bold;
				margin-right: 0.5em;
			}
		}
		div {
			padding: 0 1.5em;
		}
		&[open] {
			background: $yellow1;
			height: 10.0em;

			summary {
				&:before {
					content: "\f068";
				}
			}
		}
	}
}
