/* ----- ANALOG CLOCK ----- */

.clock-wrapper {
	height: 300px;
	margin: 0 auto;
	width: 300px;
	.clock-base {
		border: 4px solid $blue3;
		border-radius: 100%;
		height: 300px;
		position: relative;
		width: 300px;
		&::after {
			background: $blue3;
			border-radius: 100%;
			content: "";
			height: 8px;
			left: calc(50% - 4px);
			position: absolute;
			top: calc(50% - 4px);
			width: 8px;
		}
	}
	hr {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: rotateZ(-90deg);
		transform-origin: 0% 0% 0;
		&.clock-second {
			border-color: $yellow2;
			width: 142px;
		}
		&.clock-minutes {
			border-color: $green2;
			width: 126px;
		}
		&.clock-hour {
			border-color: $orange3;
			width: 110px;
		}
	}
}
