/* ----- SLIDER ----- */

$time:5;
.slider-wrapper {
	.slider {
		height: 200px;
		list-style: none;
		overflow: hidden;
		position: relative;
		width: 200px;
		li {
			bottom: 0;
			left: 100%;
			position: absolute;
			right: -100%;
			text-align: center;
			top: 0;
			@include gradation3($yellow2, $green1);
			i {
				line-height: 200px;
			}
			@for $i from 1 through 4 {
				&:nth-of-type(#{$i}) {
					@include animation(slider, #{$time * 4}s, infinite, linear, #{($i - 1) * $time}s);
				}
			}
		}
	}
}

@include keyframes(slider) {
	0% {
		left: 100%;
		opacity: 0.0;
		right: -100%;
	}
	1% {
		left: 0;
		opacity: 1.0;
		right: 0;
	}
	24% {
		left: 0;
		opacity: 1.0;
		right: 0;
	}
	25% {
		left: -100%;
		opacity: 0.0;
		right: 100%;
	}
	26% {
		left: 100%;
		right: -100%;
	}
}
