/* ----- SLOT MACHINE ----- */

.slot-wrapper {
	margin: 0 auto;
	width: 166px;
	.slot-monitor {
		@include flex(between);
		.slot-reel-wrapper {
			border: 2px solid;
			height: 54px;
			overflow: hidden;
			position: relative;
			width: 54px;
			.slot-reel {
				bottom: 0;
				height: 50px;
				left: 0;
				opacity: 0.0;
				position: absolute;
				right: 0;
				top: 0;
				width: 50px;
				@include animation(reel, 4.5s);
				@for $i from 1 through 9 {
					&:nth-of-type(#{$i}) {
						animation-delay: #{($i - 1) * 0.5s};
					}
				}
				i {
					display: block;
					height: 50px;
					line-height: 50px;
					text-align: center;
					width: 50px;
				}
			}
		}
		[type="radio"] {
			display: none;
			&:checked + .slot-reel-wrapper .slot-reel {
				animation-play-state: paused !important;
			}
		}
	}
	.slot-button-wrapper {
		margin-top: 10px;
		@include flex(between);
		.slot-button {
			width: 54px;
			label {
				background: $red2;
				border-bottom: 5px solid $red3;
				border-radius: 100%;
				color: $red3;
				font-weight: bold;
				height: 30px;
				line-height: 25px;
				text-align: center;
				width: 50px;
				&:active {
					border-bottom-width: 1px;
				}
			}
		}
		.slot-button-reset {
			margin-top: 10px;
			width: 100%;
			[type="reset"] {
				width: 100%;
			}
		}
	}
}

@include keyframes(reel) {
	0% {
		opacity: 1.0;
	}
	12% {
		opacity: 1.0;
	}
	12.5% {
		opacity: 0.0;
	}
	100% {
		opacity: 0.0;
	}
}
