/* ----- SAMPLE 14 ----- */

._background {
	position: relative;
	overflow: hidden;

	margin: 20px auto;
	width: 100%;
	line-height: 100px;
	text-align: center;
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
	}
}



@each $category in $categories {
	$n: index($categories, $category);
	$color: nth($colors, $n);
	._bg_start_#{$category}::before {
		@include gradation2($color, rgba($color, 0));
	}
}

@each $category in $categories {
	$n: index($categories, $category);
	$color: nth($colors, $n);
	._bg_end_#{$category}::after {
		@include gradation2(rgba($color, 0), $color);
	}
}





._background_gradation {
	&::before {
		@include gradation2($red2, $yellow3, $lime2, $blue2, $pink2, $red2, $yellow3, $lime2, $blue2, $pink2, $red2);
		@include animation(bgscroll, 5.0s);
	}
}

@include keyframes(bgscroll) {
	0% {
		left: 0;
		right: -100%;
	}
	100% {
		left: -100%;
		right: 0;
	}
}
