/* ----- SAMPLE 15 ----- */

._blink {
	@include animation(blink, 1.0s);
}

@include keyframes(blink) {
	0% {
		opacity: 0.0;
	}
	50% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.0;
	}
}

._marquee {
	position: relative;
	overflow: hidden;
	line-height: 2.0em;
	height: 2.0em;
	._marquee_inner {
		display: inline-block;
		position: absolute;
		top: 0;
		bottom: 0;
		@include animation(marquee, 5.0s);
	}
}

@include keyframes(marquee) {
	0% {
		left: 100%;
		right: -100%;
	}
	100% {
		left: -100%;
		right: 100%;
	}
}

._marquee_reverse {
	position: relative;
	overflow: hidden;
	line-height: 2.0em;
	height: 2.0em;
	._marquee_inner {
		display: inline-block;
		position: absolute;
		top: 0;
		bottom: 0;
		text-align: right;
		@include animation(marquee_reverse, 5.0s);
	}
}

@include keyframes(marquee_reverse) {
	0% {
		left: -100%;
		right: 100%;
	}
	100% {
		left: 100%;
		right: -100%;
	}
}


._zoom {
	@include animation(zoom, 2.0s);
}

@include keyframes(zoom) {
	0% {
		font-size: 1.0em;
	}
	24.9% {
		font-size: 1.0em;
	}
	25% {
		font-size: 2.0em;
	}
	49.9% {
		font-size: 2.0em;
	}
	50% {
		font-size: 3.0em;
	}
	74.9% {
		font-size: 3.0em;
	}
	75% {
		font-size: 2.0em;
	}
	99.9% {
		font-size: 2.0em;
	}
	100% {
		font-size: 1.0em;
	}
}
