/* ----- SAMPLE 08 ----- */

._noteline {
	padding: 0 10px;
	background-image: linear-gradient(180deg,
	rgba(0, 0, 0, 0) 0%,
	rgba(0, 0, 0, 0) 98%,
	$green2 98%,
	$green2 100%);
	background-size: 100% 2.0em;
	line-height: 2.0;
}

._graphpaper {
	padding: 10px;
	background-image: linear-gradient( transparent 95%, rgba($blue3, 0.2) 50%, rgba($blue3, 0.2)), linear-gradient( 90deg, transparent 95%, rgba($blue3, 0.2) 50%, rgba($blue3, 0.2));
	background-size: 16px 16px;
	background-repeat: repeat;
}


._photopaper {
	padding: 10px;
	background-image: url(http://placekitten.com/200/200);
	background-color: rgba(255, 255, 255, 0.7);
	background-blend-mode: lighten;
}
