/* ----- SAMPLE 25 ----- */

._cake_wrapper {
	._cake_hole {
		margin: 20px auto;
		position: relative;
		width: 300px;
		height: 300px;
		border-radius: 100%;
		background: $pink1;
		hr {
			display: none;
			position: absolute;
			margin: 0;
			top: 149px;
			left: 150px;
			width: 160px;
			border: none;
			border-top: 1px solid $pink2;
			transform-origin: left center;
		}
		._cake_hole_type {
			display: none;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			font-size: 2.0em;
			font-weight: bold;
			color: $white;
			text-shadow: 2px 0 0 $pink2, -2px 0 0 $pink2, 0 2px 0 $pink2, 0 -2px 0 $pink2, 2px 2px 0 $pink2, -2px -2px 0 $pink2, -2px 2px 0 $pink2, 2px -2px 0 $pink2;
		}
		._cake_hole_type1 {
			display: block;
		}
	}
	._cake_cut_select {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flex(between);
		li {
			margin-top: 5px;
			width: calc((100% - 20px) / 5);
			label {
				display: block;
				padding: 5px;
				border-radius: 5px;
				background: $gray2;
				text-align: center;
				color: $gray3;
				cursor: pointer;
			}
		}
	}
	input[type="radio"] {
		display: none;
	}
}


@for $i from 2 through 10 {
	#cut_#{$i}:checked {
		& ~ ._cake_hole {
			._cake_hole_type1 {
				display: none;
			}
			._cake_hole_type#{$i} {
				display: block;
			}
			._cake_cutter1 {
				display: block;
				transform: rotate(-90deg);
			}
			@for $j from 2 through $i {
				._cake_cutter#{$j} {
					display: block;
					transform: rotate(#{-90deg + (360deg / $i * ($j - 1))});
				}
			}
		}
		& ~ ._cake_cut_select li [for="cut_#{$i}"] {
			background: $pink2;
			color: $pink3;
		}
	}
}
