@charset "UTF-8";
/*

．〃∩ ∧＿∧
　⊂⌒(　･ω･)   
　　＼_っ⌒/⌒c _____ TOKIWA K PORTFOLIO 2020.01.01 _____
　　　　⌒ ⌒
*/
/* ----- RESET ----- */
html {
  box-sizing: border-box;
  word-break: break-word;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

body {
  font-size: 16px;
  line-height: 1.6;
}

hr {
  border: none;
  margin: 10px 0;
  border-top: 1px solid;
  height: 0;
  overflow: visible;
}

details,
main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 0.8em;
}

[hidden] {
  display: none !important;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
}
a:active, a:hover {
  outline-width: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1.0em;
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

fieldset {
  border: 1px solid;
  padding: 10px;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0 0.5em;
  white-space: normal;
}

button,
input,
select,
textarea {
  border: none;
  border: 1px solid;
  border-radius: 0;
  font: inherit;
}

button,
select {
  text-transform: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}
select::-ms-expand {
  display: none;
}
select::-ms-value {
  color: currentColor;
}

optgroup {
  font: inherit;
  font-weight: bold;
}

[type="text"],
[type="number"],
[type="tel"],
[type="mail"],
[type="email"],
[type="url"],
[type="password"],
[type="date"],
[type="time"],
[type="search"],
[type="range"] {
  width: 100%;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
  width: 100%;
}

[type="range"] {
  cursor: pointer;
}

label {
  cursor: pointer;
}
label + label {
  margin-left: 0.5em;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  overflow: visible;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  -webkit-appearance: button;
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[disabled] {
  cursor: default;
}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

/* ----- OPTION ----- */
@-webkit-keyframes fadein {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@keyframes fadein {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
/* ----- BASIC ----- */
/* ----- PERAICHI ----- */
.content_box {
  padding: 15px 50px 50vh 15px;
  min-height: 100vh;
}

.navigation_switch {
  position: fixed;
  top: 15px;
  right: 15px;
  border: none;
  background: transparent;
  z-index: 9999;
  cursor: inherit;
}
.navigation_switch .switch {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #4ae;
  cursor: pointer;
}
.navigation_switch .switch span {
  display: block;
  position: absolute;
  left: 20px;
  right: 20px;
  background: #fff;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  transition: 0.3s;
}
.navigation_switch .switch span.switch_1 {
  top: 22px;
}
.navigation_switch .switch span.switch_2 {
  top: 29px;
}
.navigation_switch .switch span.switch_3 {
  top: 36px;
}
.navigation_switch .switch.open {
  background: #fff;
}
.navigation_switch .switch.open span {
  width: 25px;
  background: #c00;
}
.navigation_switch .switch.open span.switch_1 {
  transform: translateX(-4px) translateY(7px) rotate(135deg);
}
.navigation_switch .switch.open span.switch_2 {
  opacity: 0.0;
}
.navigation_switch .switch.open span.switch_3 {
  transform: translateX(-4px) translateY(-7px) rotate(-135deg);
}

.navigation {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.7);
}
.navigation div {
  line-height: 2.0;
  text-align: center;
  cursor: pointer;
}
.navigation div span {
  color: #fff;
  font-size: 2.0em;
  font-weight: bold;
}

.indicator {
  position: fixed;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  list-style: none;
}
.indicator li {
  margin-bottom: 5px;
  padding: 8px;
  width: 20px;
  height: 20px;
  transition: 0.3s;
  cursor: pointer;
}
.indicator li span {
  display: block;
  width: 4px;
  height: 4px;
  border: 2px solid #4ae;
  border-radius: 100%;
  transition: 0.3s;
}
.indicator li:hover {
  padding: 0;
}
.indicator li:hover span {
  width: 20px;
  height: 20px;
  border-color: #8df;
}
.indicator li.active {
  padding: 0;
}
.indicator li.active span {
  width: 20px;
  height: 20px;
}

/* ----- SMART PHONE ----- */
@media screen and (max-width: 580px) {
  /* ----- PERAICHI ----- */
  .content_box {
    padding: 50px 15px 25vh;
  }

  .navigation_switch {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #4ae;
  }
  .navigation_switch .switch {
    width: 50px;
    height: 50px;
    border-radius: 0;
  }
  .navigation_switch .switch span {
    left: 15px;
    right: 15px;
  }
  .navigation_switch .switch span.switch_1 {
    top: 17px;
  }
  .navigation_switch .switch span.switch_2 {
    top: 24px;
  }
  .navigation_switch .switch span.switch_3 {
    top: 31px;
  }

  .navigation {
    padding-top: 70px;
  }
  .navigation div span {
    font-size: 1.5em;
  }

  .indicator {
    display: none;
  }
}
