@charset "UTF-8";
/*

．〃∩ ∧＿∧
　⊂⌒(　･ω･)   
　　＼_っ⌒/⌒c _____ TOKIWA K PORTFOLIO 2020.01.01 _____
　　　　⌒ ⌒
*/
/* ----- RESET ----- */
html {
  box-sizing: border-box;
  word-break: break-word;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

body {
  font-size: 16px;
  line-height: 1.6;
}

hr {
  border: none;
  margin: 10px 0;
  border-top: 1px solid;
  height: 0;
  overflow: visible;
}

details,
main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 0.8em;
}

[hidden] {
  display: none !important;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
}
a:active, a:hover {
  outline-width: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1.0em;
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

fieldset {
  border: 1px solid;
  padding: 10px;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0 0.5em;
  white-space: normal;
}

button,
input,
select,
textarea {
  border: none;
  border: 1px solid;
  border-radius: 0;
  font: inherit;
}

button,
select {
  text-transform: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}
select::-ms-expand {
  display: none;
}
select::-ms-value {
  color: currentColor;
}

optgroup {
  font: inherit;
  font-weight: bold;
}

[type="text"],
[type="number"],
[type="tel"],
[type="mail"],
[type="email"],
[type="url"],
[type="password"],
[type="date"],
[type="time"],
[type="search"],
[type="range"] {
  width: 100%;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
  width: 100%;
}

[type="range"] {
  cursor: pointer;
}

label {
  cursor: pointer;
}
label + label {
  margin-left: 0.5em;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  overflow: visible;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  -webkit-appearance: button;
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[disabled] {
  cursor: default;
}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

/* ----- BASIC ----- */
/* ----- LAYOUT ----- */
body {
  background: #fff;
  color: #222;
}

hr {
  margin: 15px 0;
}

/* ----- FLEX ----- */
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-child {
  margin: 15px 15px 0 0;
}

/* ----- PROFILE ----- */
.profile li {
  margin-top: 16px;
}
.profile li:first-of-type {
  margin-top: 0;
}

/* ----- SKILL ----- */
.skill-status {
  margin-top: 30px;
  border-top: 1px dashed #555;
}
.skill-status li {
  background: url(../images/skill_star.png) no-repeat;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px dashed #555;
}
.skill-status li.s1 {
  background-position: right 0px;
}
.skill-status li.s2 {
  background-position: right -40px;
}
.skill-status li.s3 {
  background-position: right -80px;
}
.skill-status li.s4 {
  background-position: right -120px;
}
.skill-status li.s5 {
  background-position: right -160px;
}

/* ----- PERAICHI ----- */
.peraichi-wrapper {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.peraichi-box {
  scroll-snap-align: start;
  padding: 15px 50px 15px 15px;
  width: 100%;
  min-height: 100vh;
}
.peraichi-box:nth-child(odd) {
  background: #eefaff;
}
.peraichi-box h1 {
  margin-bottom: 50px;
}

.navigation-switch {
  position: fixed;
  top: 15px;
  right: 30px;
  border: none;
  background: transparent;
  z-index: 9999;
  cursor: inherit;
}
.navigation-switch .switch {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #4ae;
  cursor: pointer;
}
.navigation-switch .switch span {
  display: block;
  position: absolute;
  left: 20px;
  right: 20px;
  background: #fff;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  transition: 0.3s;
}
.navigation-switch .switch span:nth-of-type(1) {
  top: 22px;
}
.navigation-switch .switch span:nth-of-type(2) {
  top: 29px;
}
.navigation-switch .switch span:nth-of-type(3) {
  top: 36px;
}
.navigation-switch .switch.open {
  background: #fff;
}
.navigation-switch .switch.open span {
  width: 25px;
  background: #c00;
}
.navigation-switch .switch.open span:nth-of-type(1) {
  transform: translateX(-4px) translateY(7px) rotate(135deg);
}
.navigation-switch .switch.open span:nth-of-type(2) {
  opacity: 0.0;
}
.navigation-switch .switch.open span:nth-of-type(3) {
  transform: translateX(-4px) translateY(-7px) rotate(-135deg);
}

.navigation {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.7);
}
.navigation div {
  line-height: 1.8;
  text-align: center;
  cursor: pointer;
}
.navigation div a {
  color: #fff;
  font-size: 1.8em;
  font-weight: bold;
  text-decoration: none;
}

.indicator {
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  list-style: none;
}
.indicator li {
  margin-bottom: 5px;
  padding: 8px;
  width: 20px;
  height: 20px;
  transition: 0.3s;
  cursor: pointer;
}
.indicator li a {
  display: block;
  width: 4px;
  height: 4px;
  border: 2px solid #4ae;
  border-radius: 100%;
  transition: 0.3s;
}
.indicator li:hover {
  padding: 0;
}
.indicator li:hover a {
  width: 20px;
  height: 20px;
}

/* ----- SMART PHONE ----- */
@media screen and (max-width: 580px) {
  /* ----- PERAICHI ----- */
  .content_box {
    padding: 50px 15px 25vh;
  }

  .navigation_switch {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #4ae;
  }
  .navigation_switch .switch {
    width: 50px;
    height: 50px;
    border-radius: 0;
  }
  .navigation_switch .switch span {
    left: 15px;
    right: 15px;
  }
  .navigation_switch .switch span.switch_1 {
    top: 17px;
  }
  .navigation_switch .switch span.switch_2 {
    top: 24px;
  }
  .navigation_switch .switch span.switch_3 {
    top: 31px;
  }

  .navigation {
    padding-top: 70px;
  }
  .navigation div span {
    font-size: 1.5em;
  }

  .indicator {
    display: none;
  }
}
