@charset "UTF-8";
/*

．〃∩ ∧＿∧
　⊂⌒(　･ω･)   
　　＼_っ⌒/⌒c _____ TOKIWA K PORTFOLIO 2020.01.01 _____
　　　　⌒ ⌒
*/
/* ----- OPTION ----- */
@-webkit-keyframes fadein {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@keyframes fadein {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
/* ----- BASIC ----- */
/* ----- LAYOUT ----- */
body {
  background: #fff;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 100px;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

.wrapper {
  min-width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.main-wrapper {
  height: calc(100vh - 160px);
  border-bottom: 15px solid #fff;
}
.main-wrapper .main-contents {
  border: none;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.content-wrapper {
  padding: 15px;
  animation: fadein 0.3s 1 linear forwards;
  animation-delay: 0s;
}

.thumbnail-wrapper {
  position: relative;
  height: 160px;
}
.thumbnail-wrapper .thumbnails {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  right: 20px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.thumbnail-wrapper .thumbnails .thumbnail {
  width: 240px;
  height: 160px;
}
.thumbnail-wrapper .thumbnails .thumbnail a {
  display: block;
  position: relative;
  transition: 0.3s;
}
.thumbnail-wrapper .thumbnails .thumbnail a img {
  display: block;
  transition: 0.3s;
}
.thumbnail-wrapper .thumbnails .thumbnail a img:hover {
  opacity: 0.7;
}
.thumbnail-wrapper .thumbnail-controler {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 160px;
  border: none;
  background: #06c;
  color: #fff;
  transition: 0.3s;
}
.thumbnail-wrapper .thumbnail-controler:hover {
  background: #4ae;
}
.thumbnail-wrapper .thumbnail-controler.controler-left {
  left: 0;
}
.thumbnail-wrapper .thumbnail-controler.controler-right {
  right: 0;
}

/* ----- FLEX ----- */
._flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

._flex-1-2 {
  width: 50%;
}

/* ----- PROFILE ----- */
.profile-list li {
  margin-top: 16px;
}
.profile-list li:first-of-type {
  margin-top: 0;
}

/* ----- SKILL ----- */
.skill-status {
  border-top: 1px dashed #555;
}
.skill-status li {
  background: url(../images/skill_star.png) no-repeat;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px dashed #555;
}
.skill-status li.s1 {
  background-position: right 0px;
}
.skill-status li.s2 {
  background-position: right -40px;
}
.skill-status li.s3 {
  background-position: right -80px;
}
.skill-status li.s4 {
  background-position: right -120px;
}
.skill-status li.s5 {
  background-position: right -160px;
}

/* ----- SOURCE CODE ----- */
.result-box {
  margin-top: 15px;
}
.result-box h2 {
  margin-top: 15px;
}

._bg_black {
  display: inline-block;
  padding: 0 15px;
  border-radius: 3px;
  background: #222;
}

._bg_gray {
  display: inline-block;
  padding: 0 15px;
  border-radius: 3px;
  background: #aaa;
}

.source-box {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.source-box .source-html-box {
  width: calc((100% - 15px) / 2);
}
.source-box .source-css-box {
  width: calc((100% - 15px) / 2);
}

.prettyprint {
  border-radius: 10px;
  overflow: hidden;
}
.prettyprint ol {
  padding-left: 40px;
}
.prettyprint ol li {
  color: #aaa;
  font-size: 0.75em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* ----- SMART PHONE ----- */
@media screen and (max-width: 580px) {
  /* ----- LAYOUT ----- */
  .wrapper {
    max-height: none;
  }

  .main-wrapper {
    height: 100vw;
    border-bottom: 0;
  }

  .thumbnail-wrapper {
    height: auto;
  }
  .thumbnail-wrapper .thumbnails {
    position: inherit;
    left: 0;
    right: 0;
    overflow: auto;
  }
  .thumbnail-wrapper .thumbnails .thumbnail {
    width: 50%;
    height: auto;
  }
  .thumbnail-wrapper .thumbnails .thumbnail:nth-of-type(2n + 1) {
    text-align: right;
  }
  .thumbnail-wrapper .thumbnail-controler {
    display: none;
  }

  /* ----- SOURCE CODE ----- */
  .source-box .source-html-box {
    width: 100%;
  }
  .source-box .source-css-box {
    margin-top: 15px;
    width: 100%;
  }
}
