/* ----- LAYOUT ----- */

body {
	line-height: 1.6;
	background: $white;
	color: $black;
	font-size: 16px;
}

hr {
	margin: 15px 0;
}



/* ----- FLEX ----- */

.flex-wrapper {
	@include flex;
}

.flex-child {
	margin: 15px 15px 0 0;
}

/* ----- HEADER ----- */

header.peraichi-box {
	background-image: url(../images/image.png);
	background-position: right bottom;
	background-size: cover;
	background-repeat: no-repeat;

}

/* ----- PROFILE ----- */

.profile-image {
	display: block;
	width: 300px;
	border-radius: 100%;

}

.profile {
	margin-top: 30px;
	li {
		margin-top: 16px;
		&:first-of-type {
			margin-top: 0;
		}
	}
}

/* ----- SKILL ----- */

.skill-status {
	margin-top: 30px;
	border-top: 1px dashed $gray3;
	li {
		background: url(../images/skill_star.png) no-repeat;
		line-height: 40px;
		height: 40px;
		border-bottom: 1px dashed $gray3;
		@for $i from 1 through 5 {
			&.s#{$i} {
				background-position: right #{($i - 1) * -40px};
			}
		}
	}
}

/* ----- APPEAL ----- */

.appeal-wrapper {
	position: relative;
	margin: 20px 0;
	height: 40px;
	line-height: 40px;
	font-size: 32px;
	overflow: hidden;
	.appeal-roll {
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		@include animation(appeal-roll, 1.0s);
		.appeal-color {
			@include animation(appeal-color, 5.0s);
		}
	}
}


@include keyframes(appeal-roll) {
	0% {
		top: -40px;
		opacity: 1.0;
	}
	49.5% {
		top: 0;
	}
	99% {
		top: 40px;
		opacity: 1.0;
	}
	99.5% {
		opacity: 0.0;
	}
	100% {
		top: -40px;
		opacity: 0.0;
	}
}


@include keyframes(appeal-color) {
	0% {
		color: $white;
	}
	@each $color in $colors {
		$n: index($colors, $color);
		#{round(100% / length($colors) * $n)} {
			color: $color;
		}
	}
}
