/* ----- PERAICHI ----- */

.content_box {
	padding: 15px 50px 50vh 15px;
	min-height: 100vh;
}

.navigation_switch {
	position: fixed;
	top: 15px;
	right: 15px;
	border: none;
	background: transparent;
	z-index: 9999;
	cursor: inherit;
	.switch {
		position: relative;
		width: 60px;
		height: 60px;
		border-radius: 100%;
		background: $blue2;
		cursor: pointer;
		span {
			display: block;
			position: absolute;
			left: 20px;
			right: 20px;
			background: $white;
			width: 20px;
			height: 2px;
			border-radius: 1px;
			transition: 0.3s;
			&.switch_1 {
				top: 22px;
			}
			&.switch_2 {
				top: 29px;
			}
			&.switch_3 {
				top: 36px;
			}
		}
		&.open {
			background: $white;
			span {
				width: 25px;
				background: $red3;
				&.switch_1 {
					transform: translateX(-4px) translateY(7px) rotate(135deg);
				}
				&.switch_2 {
					opacity: 0.0;
				}
				&.switch_3 {
					transform: translateX(-4px) translateY(-7px) rotate(-135deg);
				}
			}
		}
	}
}

.navigation {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 100px;
	background: rgba(#000, 0.7);
	div {
		line-height: 2.0;
		text-align: center;
		cursor: pointer;
		span {
			color: $white;
			font-size: 2.0em;
			font-weight: bold;
		}
	}
}

.indicator {
	position: fixed;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	list-style: none;
	li {
		margin-bottom: 5px;
		padding: 8px;
		width: 20px;
		height: 20px;
		transition: 0.3s;
		cursor: pointer;
		span {
			display: block;
			width: 4px;
			height: 4px;
			border: 2px solid $blue2;
			border-radius: 100%;
			transition: 0.3s;
		}
		&:hover {
			padding: 0;
			span {
				width: 20px;
				height: 20px;
				border-color: $blue1;
			}
		}
		&.active {
			padding: 0;
			span {
				width: 20px;
				height: 20px;
			}
		}
	}
}
