/* ----- PERAICHI ----- */

html {}

.peraichi-wrapper {
	scroll-behavior: smooth;
	scroll-snap-type: y proximity;
	width: 100%;
	height: 100vh;
	overflow: auto;
}

.peraichi-box {
	scroll-snap-align: start;
	padding: 15px 50px 15px 15px;
	width: 100%;
	min-height: 100vh;
	&:nth-child(odd) {
		background-color: lighten($blue1,20%);
	}
	h1 {
        margin-right: 30px;
		margin-bottom: 50px;
	}
}

.navigation-switch {
	position: fixed;
	top: 15px;
	right: 30px;
	border: none;
	background: transparent;
	z-index: 9999;
	cursor: inherit;
	.switch {
		position: relative;
		width: 60px;
		height: 60px;
		border-radius: 100%;
		background: $blue2;
		cursor: pointer;
		span {
			display: block;
			position: absolute;
			left: 20px;
			right: 20px;
			background: $white;
			width: 20px;
			height: 2px;
			border-radius: 1px;
			transition: 0.3s;
			&:nth-of-type(1) {
				top: 22px;
			}
			&:nth-of-type(2) {
				top: 29px;
			}
			&:nth-of-type(3) {
				top: 36px;
			}
		}
		&.open {
			background: $white;
			span {
				width: 25px;
				background: $red3;
				&:nth-of-type(1) {
					transform: translateX(-4px) translateY(7px) rotate(135deg);
				}
				&:nth-of-type(2) {
					opacity: 0.0;
				}
				&:nth-of-type(3) {
					transform: translateX(-4px) translateY(-7px) rotate(-135deg);
				}
			}
		}
	}
}

.navigation {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 100px;
	background: rgba(#000, 0.7);
	div {
		line-height: 1.8;
		text-align: center;
		cursor: pointer;
		a {
			color: $white;
			font-size: 1.8em;
			font-weight: bold;
			text-decoration: none;
		}
	}
}

.indicator {
	position: fixed;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	list-style: none;
	li {
		margin-bottom: 5px;
		padding: 8px;
		width: 20px;
		height: 20px;
		transition: 0.3s;
		cursor: pointer;
		a {
			display: block;
			width: 4px;
			height: 4px;
			border: 2px solid $blue2;
			border-radius: 100%;
			transition: 0.3s;
		}
		&:hover {
			padding: 0;
			a {
				width: 20px;
				height: 20px;
			}
		}
	}
}
