/* ----- PROFILE ----- */

.profile-list {
	li {
		margin-top: 16px;
		&:first-of-type {
			margin-top: 0;
		}
	}
}

/* ----- SKILL ----- */

.skill-status {
	border-top: 1px dashed $gray3;
	li {
		background: url(../images/skill_star.png) no-repeat;
		line-height: 40px;
		height: 40px;
		border-bottom: 1px dashed $gray3;


		@for $i from 1 through 5 {
			&.s#{$i} {
				background-position: right #{($i - 1) * -40px};
			}
		}
	}
}
