/* ----- SOURCE CODE ----- */

.result-box {
	margin-top: 15px;
	h2 {
		margin-top: 15px;
	}
}

._bg_black {
	display: inline-block;
	padding: 0 15px;
	border-radius: 3px;
	background: $black;
}

.source-box {
	margin-top: 15px;
	@include flex(between);
	.source-html-box {
		width: calc((100% - 15px) / 2);
	}
	.source-css-box {
		width: calc((100% - 15px) / 2);
	}
}

.prettyprint {
	border-radius: 10px;
	overflow: hidden;
	ol {
		padding-left: 40px;
		li {
			color: $gray2;
			font-size: 0.75em;
			white-space: pre-wrap;
			word-wrap: break-word;
		}
	}
}
