@mixin width($width: 1200, $padding: 0) {
	margin-left: auto;
	margin-right: auto;
	max-width: #{$width}px;
	@if $padding==0 {}
	@else {
		padding: 0 #{$padding / 2}px;
	}
}

@mixin flex($content: first) {
	display: flex;
	flex-wrap: wrap;
	@if $content==first {
		flex-direction: row;
		justify-content: flex-start;
	}
	@elseif $content==right {
		justify-content: flex-end;
	}
	@elseif $content==end {
		flex-direction: row-reverse;
		justify-content: flex-end;
	}

	@elseif $content==between {
		flex-direction: row;
		justify-content: space-between;
	}
	@elseif $content==reverse {
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	@elseif $content==center {
		align-items: center;
		justify-content: center;
	}
}

@mixin cf {
	&:after {
		clear: both;
		content: "";
		display: block;
	}
}

@mixin el {
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
}

@mixin gradation1($value...) {
	background-image: -webkit-linear-gradient(top, $value);
	background-image: -moz-linear-gradient(top, $value);
	background-image: -o-linear-gradient(top, $value);
	background-image: -ms-linear-gradient(top, $value);
	background-image: linear-gradient(top, $value);
}

@mixin gradation2($value...) {
	background-image: -webkit-linear-gradient(left, $value);
	background-image: -moz-linear-gradient(left, $value);
	background-image: -o-linear-gradient(left, $value);
	background-image: -ms-linear-gradient(left, $value);
	background-image: linear-gradient(left, $value);
}

@mixin gradation3($value...) {
	background-image: -webkit-linear-gradient(left top, $value);
	background-image: -moz-linear-gradient(left top, $value);
	background-image: -o-linear-gradient(left top, $value);
	background-image: -ms-linear-gradient(left top, $value);
	background-image: linear-gradient(left top, $value);
}

@mixin animation($name: animetion, $duration: 1.0s, $count: infinite, $direction: linear, $delay: 0.0s) {
	animation: $name $duration $count $direction forwards;
	animation-delay: $delay;
}

@mixin keyframes($name: animetion) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}
