/* ----- RESET ----- */
html {
  box-sizing: border-box;
  word-break: break-word;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

body {
  font-size: 16px;
  line-height: 1.6;
}

hr {
  border-top: 1px solid;
  height: 0;
  overflow: visible;
}

details,
main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 0.8em;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
}
a:active, a:hover {
  outline-width: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1.0em;
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

fieldset {
  border: 1px solid;
  padding: 10px;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0 0.5em;
  white-space: normal;
}

button,
input,
select,
textarea {
  border: none;
  border: 1px solid;
  border-radius: 0;
  font: inherit;
}

button,
select {
  text-transform: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}
select::-ms-expand {
  display: none;
}
select::-ms-value {
  color: currentColor;
}

optgroup {
  font: inherit;
  font-weight: bold;
}

[type="text"],
[type="pasword"],
[type="email"],
[type="number"] {
  width: 100%;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
  width: 100%;
}

label {
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5em;
}
label:last-of-type {
  margin-right: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  overflow: visible;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  -webkit-appearance: button;
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[disabled] {
  cursor: default;
}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: bottom;
}

progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

/* ----- CODE PRETTY ----- */
.prettyprint {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 0.8em;
  overflow-x: auto;
}
.prettyprint .linenums li {
  list-style-position: outside;
  margin-left: 3.0em;
  padding-left: 0.5em;
  border-left: 1px dashed #555;
}

.sample-wrapper {
  padding: 20px;
}

*::before,
*::after {
  font-family: "Font Awesome 5 Free";
}

/* ----- SLOT MACHINE ----- */
.slot-wrapper {
  margin: 0 auto;
  width: 166px;
}
.slot-wrapper .slot-monitor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.slot-wrapper .slot-monitor .slot-reel-wrapper {
  border: 2px solid;
  height: 54px;
  overflow: hidden;
  position: relative;
  width: 54px;
}
.slot-wrapper .slot-monitor .slot-reel-wrapper .slot-reel {
  bottom: 0;
  height: 50px;
  left: 0;
  opacity: 0.0;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  animation: reel 4.5s infinite linear forwards;
  animation-delay: 0s;
}
.slot-wrapper .slot-monitor .slot-reel-wrapper .slot-reel:nth-of-type(1) {
  animation-delay: 0s;
}
.slot-wrapper .slot-monitor .slot-reel-wrapper .slot-reel:nth-of-type(2) {
  animation-delay: 0.5s;
}
.slot-wrapper .slot-monitor .slot-reel-wrapper .slot-reel:nth-of-type(3) {
  animation-delay: 1s;
}
.slot-wrapper .slot-monitor .slot-reel-wrapper .slot-reel:nth-of-type(4) {
  animation-delay: 1.5s;
}
.slot-wrapper .slot-monitor .slot-reel-wrapper .slot-reel:nth-of-type(5) {
  animation-delay: 2s;
}
.slot-wrapper .slot-monitor .slot-reel-wrapper .slot-reel:nth-of-type(6) {
  animation-delay: 2.5s;
}
.slot-wrapper .slot-monitor .slot-reel-wrapper .slot-reel:nth-of-type(7) {
  animation-delay: 3s;
}
.slot-wrapper .slot-monitor .slot-reel-wrapper .slot-reel:nth-of-type(8) {
  animation-delay: 3.5s;
}
.slot-wrapper .slot-monitor .slot-reel-wrapper .slot-reel:nth-of-type(9) {
  animation-delay: 4s;
}
.slot-wrapper .slot-monitor .slot-reel-wrapper .slot-reel i {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}
.slot-wrapper .slot-monitor [type="radio"] {
  display: none;
}
.slot-wrapper .slot-monitor [type="radio"]:checked + .slot-reel-wrapper .slot-reel {
  animation-play-state: paused !important;
}
.slot-wrapper .slot-button-wrapper {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.slot-wrapper .slot-button-wrapper .slot-button {
  width: 54px;
}
.slot-wrapper .slot-button-wrapper .slot-button label {
  background: #e55;
  border-bottom: 5px solid #c00;
  border-radius: 100%;
  color: #c00;
  font-weight: bold;
  height: 30px;
  line-height: 25px;
  text-align: center;
  width: 50px;
}
.slot-wrapper .slot-button-wrapper .slot-button label:active {
  border-bottom-width: 1px;
}
.slot-wrapper .slot-button-wrapper .slot-button-reset {
  margin-top: 10px;
  width: 100%;
}
.slot-wrapper .slot-button-wrapper .slot-button-reset [type="reset"] {
  width: 100%;
}

@-webkit-keyframes reel {
  0% {
    opacity: 1.0;
  }
  12% {
    opacity: 1.0;
  }
  12.5% {
    opacity: 0.0;
  }
  100% {
    opacity: 0.0;
  }
}
@-moz-keyframes reel {
  0% {
    opacity: 1.0;
  }
  12% {
    opacity: 1.0;
  }
  12.5% {
    opacity: 0.0;
  }
  100% {
    opacity: 0.0;
  }
}
@keyframes reel {
  0% {
    opacity: 1.0;
  }
  12% {
    opacity: 1.0;
  }
  12.5% {
    opacity: 0.0;
  }
  100% {
    opacity: 0.0;
  }
}
/* ----- ANALOG CLOCK ----- */
.clock-wrapper {
  height: 300px;
  margin: 0 auto;
  width: 300px;
}
.clock-wrapper .clock-base {
  border: 4px solid #06c;
  border-radius: 100%;
  height: 300px;
  position: relative;
  width: 300px;
}
.clock-wrapper .clock-base::after {
  background: #06c;
  border-radius: 100%;
  content: "";
  height: 8px;
  left: calc(50% - 4px);
  position: absolute;
  top: calc(50% - 4px);
  width: 8px;
}
.clock-wrapper hr {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: rotateZ(-90deg);
  transform-origin: 0% 0% 0;
}
.clock-wrapper hr.clock-second {
  border-color: #fe7;
  width: 142px;
}
.clock-wrapper hr.clock-minutes {
  border-color: #393;
  width: 126px;
}
.clock-wrapper hr.clock-hour {
  border-color: #f60;
  width: 110px;
}

/* ----- DARUMA OTOSHO ----- */
.daruma-wrapper {
  margin: 0 auto;
  width: 360px;
}
.daruma-wrapper form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.daruma-wrapper form .daruma {
  height: 330px;
  width: 180px;
}
.daruma-wrapper form .daruma .daruma-tower {
  display: table-cell;
  height: 330px;
  vertical-align: bottom;
  width: 180px;
}
.daruma-wrapper form .daruma .daruma-tower .daruma-head {
  background: #c00;
  border-radius: 45px 45px 5px 5px;
  height: 90px;
  width: 180px;
}
.daruma-wrapper form .daruma .daruma-tower .daruma-head .fa-eye {
  color: #fff;
  line-height: 90px;
  text-align: center;
  width: 90px;
}
.daruma-wrapper form .daruma .daruma-tower .daruma-block {
  border-radius: 5px;
  height: 60px;
  width: 180px;
}
.daruma-wrapper form .daruma .daruma-tower .daruma-block#daruma-block-1 {
  background: #06c;
}
.daruma-wrapper form .daruma .daruma-tower .daruma-block#daruma-block-2 {
  background: #393;
}
.daruma-wrapper form .daruma .daruma-tower .daruma-block#daruma-block-3 {
  background: #f93;
}
.daruma-wrapper form .daruma .daruma-tower .daruma-block#daruma-block-4 {
  background: #f69;
}
.daruma-wrapper form .hummer {
  height: 350px;
  width: 160px;
  padding-top: 275px;
}
.daruma-wrapper form .hummer .hummer-body {
  background: #4ae;
  border-radius: 5px;
  color: #ffa;
  display: block;
  font-size: 1.8em;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  position: relative;
  text-align: center;
  width: 120px;
  transform: rotate(-15deg);
  transform-origin: 60px -270px;
  transition: 0.1s;
}
.daruma-wrapper form .hummer .hummer-body:before {
  position: absolute;
  top: -275px;
  left: 50px;
  border-radius: 10px 10px 0 0;
  content: "";
  display: block;
  width: 20px;
  height: 275px;
  background: #fc6;
}
.daruma-wrapper form .hummer .hummer-body#hummer-2, .daruma-wrapper form .hummer .hummer-body#hummer-3, .daruma-wrapper form .hummer .hummer-body#hummer-4, .daruma-wrapper form .hummer .hummer-body#hummer-5 {
  height: 0;
  visibility: hidden;
}
.daruma-wrapper form .daruma-button-reset {
  margin-top: 10px;
  width: 100%;
}
.daruma-wrapper form .daruma-button-reset [type="reset"] {
  width: 100%;
}
.daruma-wrapper form input[type="checkbox"] {
  display: none;
}

#daruma-1:checked ~ .daruma .daruma-tower #daruma-block-1 {
  animation: fadeOut 0.3s 1 linear forwards;
  animation-delay: 0.1s;
}
#daruma-1:checked ~ .daruma .daruma-tower #daruma-block-1 i {
  display: none;
}
#daruma-1:checked ~ .hummer .hummer-body#hummer-1 {
  height: 0;
  visibility: hidden;
  animation: hit 0.1s 1 linear forwards;
  animation-delay: 0s;
}
#daruma-1:checked ~ .hummer .hummer-body#hummer-2 {
  height: 50px;
  visibility: visible;
}

#daruma-2:checked ~ .daruma .daruma-tower #daruma-block-2 {
  animation: fadeOut 0.3s 1 linear forwards;
  animation-delay: 0.1s;
}
#daruma-2:checked ~ .daruma .daruma-tower #daruma-block-2 i {
  display: none;
}
#daruma-2:checked ~ .hummer .hummer-body#hummer-2 {
  height: 0;
  visibility: hidden;
  animation: hit 0.1s 1 linear forwards;
  animation-delay: 0s;
}
#daruma-2:checked ~ .hummer .hummer-body#hummer-3 {
  height: 50px;
  visibility: visible;
}

#daruma-3:checked ~ .daruma .daruma-tower #daruma-block-3 {
  animation: fadeOut 0.3s 1 linear forwards;
  animation-delay: 0.1s;
}
#daruma-3:checked ~ .daruma .daruma-tower #daruma-block-3 i {
  display: none;
}
#daruma-3:checked ~ .hummer .hummer-body#hummer-3 {
  height: 0;
  visibility: hidden;
  animation: hit 0.1s 1 linear forwards;
  animation-delay: 0s;
}
#daruma-3:checked ~ .hummer .hummer-body#hummer-4 {
  height: 50px;
  visibility: visible;
}

#daruma-4:checked ~ .daruma .daruma-tower #daruma-block-4 {
  animation: fadeOut 0.3s 1 linear forwards;
  animation-delay: 0.1s;
}
#daruma-4:checked ~ .daruma .daruma-tower #daruma-block-4 i {
  display: none;
}
#daruma-4:checked ~ .hummer .hummer-body#hummer-4 {
  height: 0;
  visibility: hidden;
  animation: hit 0.1s 1 linear forwards;
  animation-delay: 0s;
}
#daruma-4:checked ~ .hummer .hummer-body#hummer-5 {
  height: 50px;
  visibility: visible;
}

#daruma-5:checked ~ .daruma .daruma-tower #daruma-block-5 {
  animation: fadeOut 0.3s 1 linear forwards;
  animation-delay: 0.1s;
}
#daruma-5:checked ~ .daruma .daruma-tower #daruma-block-5 i {
  display: none;
}
#daruma-5:checked ~ .hummer .hummer-body#hummer-5 {
  animation: hit 0.1s 1 linear forwards;
  animation-delay: 0s;
}
#daruma-5:checked ~ .hummer .hummer-body#hummer-6 {
  height: 50px;
  visibility: visible;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1.0;
  }
  100% {
    height: 0;
    opacity: 0.0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1.0;
  }
  100% {
    height: 0;
    opacity: 0.0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1.0;
  }
  100% {
    height: 0;
    opacity: 0.0;
  }
}
@-webkit-keyframes hit {
  0% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@-moz-keyframes hit {
  0% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@keyframes hit {
  0% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
/* ----- ACCORDION MENU ----- */
.accordion {
  margin-bottom: 20px;
}
.accordion details {
  height: 1.4em;
  transition: 0.3s;
}
.accordion details summary {
  cursor: pointer;
  line-height: 1.4em;
  list-style: none;
}
.accordion details summary:before {
  content: "\f067";
  font-weight: bold;
  margin-right: 0.5em;
}
.accordion details div {
  padding: 0 1.5em;
}
.accordion details[open] {
  background: #ffa;
  height: 10.0em;
}
.accordion details[open] summary:before {
  content: "\f068";
}

/* ----- SLIDER ----- */
.slider-wrapper .slider {
  height: 200px;
  list-style: none;
  overflow: hidden;
  position: relative;
  width: 200px;
}
.slider-wrapper .slider li {
  bottom: 0;
  left: 100%;
  position: absolute;
  right: -100%;
  text-align: center;
  top: 0;
  background-image: -webkit-linear-gradient(left top, #fe7, #6c6);
  background-image: -moz-linear-gradient(left top, #fe7, #6c6);
  background-image: -o-linear-gradient(left top, #fe7, #6c6);
  background-image: -ms-linear-gradient(left top, #fe7, #6c6);
  background-image: linear-gradient(left top, #fe7, #6c6);
}
.slider-wrapper .slider li i {
  line-height: 200px;
}
.slider-wrapper .slider li:nth-of-type(1) {
  animation: slider 20s infinite linear forwards;
  animation-delay: 0s;
}
.slider-wrapper .slider li:nth-of-type(2) {
  animation: slider 20s infinite linear forwards;
  animation-delay: 5s;
}
.slider-wrapper .slider li:nth-of-type(3) {
  animation: slider 20s infinite linear forwards;
  animation-delay: 10s;
}
.slider-wrapper .slider li:nth-of-type(4) {
  animation: slider 20s infinite linear forwards;
  animation-delay: 15s;
}

@-webkit-keyframes slider {
  0% {
    left: 100%;
    opacity: 0.0;
    right: -100%;
  }
  1% {
    left: 0;
    opacity: 1.0;
    right: 0;
  }
  24% {
    left: 0;
    opacity: 1.0;
    right: 0;
  }
  25% {
    left: -100%;
    opacity: 0.0;
    right: 100%;
  }
  26% {
    left: 100%;
    right: -100%;
  }
}
@-moz-keyframes slider {
  0% {
    left: 100%;
    opacity: 0.0;
    right: -100%;
  }
  1% {
    left: 0;
    opacity: 1.0;
    right: 0;
  }
  24% {
    left: 0;
    opacity: 1.0;
    right: 0;
  }
  25% {
    left: -100%;
    opacity: 0.0;
    right: 100%;
  }
  26% {
    left: 100%;
    right: -100%;
  }
}
@keyframes slider {
  0% {
    left: 100%;
    opacity: 0.0;
    right: -100%;
  }
  1% {
    left: 0;
    opacity: 1.0;
    right: 0;
  }
  24% {
    left: 0;
    opacity: 1.0;
    right: 0;
  }
  25% {
    left: -100%;
    opacity: 0.0;
    right: 100%;
  }
  26% {
    left: 100%;
    right: -100%;
  }
}
/* ----- BACKGROUND ANIMATION ----- */
.bg-animation {
  animation: bg-animation 10s infinite linear forwards;
  animation-delay: 0s;
}

@-webkit-keyframes bg-animation {
  0% {
    background-image: -webkit-linear-gradient(left, #f99, #fc6);
    background-image: -moz-linear-gradient(left, #f99, #fc6);
    background-image: -o-linear-gradient(left, #f99, #fc6);
    background-image: -ms-linear-gradient(left, #f99, #fc6);
    background-image: linear-gradient(left, #f99, #fc6);
  }
  12.5% {
    background-image: -webkit-linear-gradient(left, #fc6, #fe7);
    background-image: -moz-linear-gradient(left, #fc6, #fe7);
    background-image: -o-linear-gradient(left, #fc6, #fe7);
    background-image: -ms-linear-gradient(left, #fc6, #fe7);
    background-image: linear-gradient(left, #fc6, #fe7);
  }
  25% {
    background-image: -webkit-linear-gradient(left, #fe7, #af6);
    background-image: -moz-linear-gradient(left, #fe7, #af6);
    background-image: -o-linear-gradient(left, #fe7, #af6);
    background-image: -ms-linear-gradient(left, #fe7, #af6);
    background-image: linear-gradient(left, #fe7, #af6);
  }
  37.5% {
    background-image: -webkit-linear-gradient(left, #af6, #6c6);
    background-image: -moz-linear-gradient(left, #af6, #6c6);
    background-image: -o-linear-gradient(left, #af6, #6c6);
    background-image: -ms-linear-gradient(left, #af6, #6c6);
    background-image: linear-gradient(left, #af6, #6c6);
  }
  50% {
    background-image: -webkit-linear-gradient(left, #6c6, #4ae);
    background-image: -moz-linear-gradient(left, #6c6, #4ae);
    background-image: -o-linear-gradient(left, #6c6, #4ae);
    background-image: -ms-linear-gradient(left, #6c6, #4ae);
    background-image: linear-gradient(left, #6c6, #4ae);
  }
  42.5% {
    background-image: -webkit-linear-gradient(left, #4ae, #c9f);
    background-image: -moz-linear-gradient(left, #4ae, #c9f);
    background-image: -o-linear-gradient(left, #4ae, #c9f);
    background-image: -ms-linear-gradient(left, #4ae, #c9f);
    background-image: linear-gradient(left, #4ae, #c9f);
  }
  75% {
    background-image: -webkit-linear-gradient(left, #c9f, #f69);
    background-image: -moz-linear-gradient(left, #c9f, #f69);
    background-image: -o-linear-gradient(left, #c9f, #f69);
    background-image: -ms-linear-gradient(left, #c9f, #f69);
    background-image: linear-gradient(left, #c9f, #f69);
  }
  87.5% {
    background-image: -webkit-linear-gradient(left, #f69, #f99);
    background-image: -moz-linear-gradient(left, #f69, #f99);
    background-image: -o-linear-gradient(left, #f69, #f99);
    background-image: -ms-linear-gradient(left, #f69, #f99);
    background-image: linear-gradient(left, #f69, #f99);
  }
  100% {
    background-image: -webkit-linear-gradient(left, #f99, #fc6);
    background-image: -moz-linear-gradient(left, #f99, #fc6);
    background-image: -o-linear-gradient(left, #f99, #fc6);
    background-image: -ms-linear-gradient(left, #f99, #fc6);
    background-image: linear-gradient(left, #f99, #fc6);
  }
}
@-moz-keyframes bg-animation {
  0% {
    background-image: -webkit-linear-gradient(left, #f99, #fc6);
    background-image: -moz-linear-gradient(left, #f99, #fc6);
    background-image: -o-linear-gradient(left, #f99, #fc6);
    background-image: -ms-linear-gradient(left, #f99, #fc6);
    background-image: linear-gradient(left, #f99, #fc6);
  }
  12.5% {
    background-image: -webkit-linear-gradient(left, #fc6, #fe7);
    background-image: -moz-linear-gradient(left, #fc6, #fe7);
    background-image: -o-linear-gradient(left, #fc6, #fe7);
    background-image: -ms-linear-gradient(left, #fc6, #fe7);
    background-image: linear-gradient(left, #fc6, #fe7);
  }
  25% {
    background-image: -webkit-linear-gradient(left, #fe7, #af6);
    background-image: -moz-linear-gradient(left, #fe7, #af6);
    background-image: -o-linear-gradient(left, #fe7, #af6);
    background-image: -ms-linear-gradient(left, #fe7, #af6);
    background-image: linear-gradient(left, #fe7, #af6);
  }
  37.5% {
    background-image: -webkit-linear-gradient(left, #af6, #6c6);
    background-image: -moz-linear-gradient(left, #af6, #6c6);
    background-image: -o-linear-gradient(left, #af6, #6c6);
    background-image: -ms-linear-gradient(left, #af6, #6c6);
    background-image: linear-gradient(left, #af6, #6c6);
  }
  50% {
    background-image: -webkit-linear-gradient(left, #6c6, #4ae);
    background-image: -moz-linear-gradient(left, #6c6, #4ae);
    background-image: -o-linear-gradient(left, #6c6, #4ae);
    background-image: -ms-linear-gradient(left, #6c6, #4ae);
    background-image: linear-gradient(left, #6c6, #4ae);
  }
  42.5% {
    background-image: -webkit-linear-gradient(left, #4ae, #c9f);
    background-image: -moz-linear-gradient(left, #4ae, #c9f);
    background-image: -o-linear-gradient(left, #4ae, #c9f);
    background-image: -ms-linear-gradient(left, #4ae, #c9f);
    background-image: linear-gradient(left, #4ae, #c9f);
  }
  75% {
    background-image: -webkit-linear-gradient(left, #c9f, #f69);
    background-image: -moz-linear-gradient(left, #c9f, #f69);
    background-image: -o-linear-gradient(left, #c9f, #f69);
    background-image: -ms-linear-gradient(left, #c9f, #f69);
    background-image: linear-gradient(left, #c9f, #f69);
  }
  87.5% {
    background-image: -webkit-linear-gradient(left, #f69, #f99);
    background-image: -moz-linear-gradient(left, #f69, #f99);
    background-image: -o-linear-gradient(left, #f69, #f99);
    background-image: -ms-linear-gradient(left, #f69, #f99);
    background-image: linear-gradient(left, #f69, #f99);
  }
  100% {
    background-image: -webkit-linear-gradient(left, #f99, #fc6);
    background-image: -moz-linear-gradient(left, #f99, #fc6);
    background-image: -o-linear-gradient(left, #f99, #fc6);
    background-image: -ms-linear-gradient(left, #f99, #fc6);
    background-image: linear-gradient(left, #f99, #fc6);
  }
}
@keyframes bg-animation {
  0% {
    background-image: -webkit-linear-gradient(left, #f99, #fc6);
    background-image: -moz-linear-gradient(left, #f99, #fc6);
    background-image: -o-linear-gradient(left, #f99, #fc6);
    background-image: -ms-linear-gradient(left, #f99, #fc6);
    background-image: linear-gradient(left, #f99, #fc6);
  }
  12.5% {
    background-image: -webkit-linear-gradient(left, #fc6, #fe7);
    background-image: -moz-linear-gradient(left, #fc6, #fe7);
    background-image: -o-linear-gradient(left, #fc6, #fe7);
    background-image: -ms-linear-gradient(left, #fc6, #fe7);
    background-image: linear-gradient(left, #fc6, #fe7);
  }
  25% {
    background-image: -webkit-linear-gradient(left, #fe7, #af6);
    background-image: -moz-linear-gradient(left, #fe7, #af6);
    background-image: -o-linear-gradient(left, #fe7, #af6);
    background-image: -ms-linear-gradient(left, #fe7, #af6);
    background-image: linear-gradient(left, #fe7, #af6);
  }
  37.5% {
    background-image: -webkit-linear-gradient(left, #af6, #6c6);
    background-image: -moz-linear-gradient(left, #af6, #6c6);
    background-image: -o-linear-gradient(left, #af6, #6c6);
    background-image: -ms-linear-gradient(left, #af6, #6c6);
    background-image: linear-gradient(left, #af6, #6c6);
  }
  50% {
    background-image: -webkit-linear-gradient(left, #6c6, #4ae);
    background-image: -moz-linear-gradient(left, #6c6, #4ae);
    background-image: -o-linear-gradient(left, #6c6, #4ae);
    background-image: -ms-linear-gradient(left, #6c6, #4ae);
    background-image: linear-gradient(left, #6c6, #4ae);
  }
  42.5% {
    background-image: -webkit-linear-gradient(left, #4ae, #c9f);
    background-image: -moz-linear-gradient(left, #4ae, #c9f);
    background-image: -o-linear-gradient(left, #4ae, #c9f);
    background-image: -ms-linear-gradient(left, #4ae, #c9f);
    background-image: linear-gradient(left, #4ae, #c9f);
  }
  75% {
    background-image: -webkit-linear-gradient(left, #c9f, #f69);
    background-image: -moz-linear-gradient(left, #c9f, #f69);
    background-image: -o-linear-gradient(left, #c9f, #f69);
    background-image: -ms-linear-gradient(left, #c9f, #f69);
    background-image: linear-gradient(left, #c9f, #f69);
  }
  87.5% {
    background-image: -webkit-linear-gradient(left, #f69, #f99);
    background-image: -moz-linear-gradient(left, #f69, #f99);
    background-image: -o-linear-gradient(left, #f69, #f99);
    background-image: -ms-linear-gradient(left, #f69, #f99);
    background-image: linear-gradient(left, #f69, #f99);
  }
  100% {
    background-image: -webkit-linear-gradient(left, #f99, #fc6);
    background-image: -moz-linear-gradient(left, #f99, #fc6);
    background-image: -o-linear-gradient(left, #f99, #fc6);
    background-image: -ms-linear-gradient(left, #f99, #fc6);
    background-image: linear-gradient(left, #f99, #fc6);
  }
}
/* ----- IMAGE EFFECTER ----- */
.image-effecter-wrapper .image-effecter .image-preview .image-preview-window {
  border: 1px solid #555;
  height: 302px;
  width: 302px;
  text-align: center;
}
.image-effecter-wrapper .image-effecter .image-preview .image-preview-window img {
  max-height: 100%;
}
.image-effecter-wrapper .image-effecter .image-preview label {
  display: block;
  box-shadow: inset 0 0 5px rgba(34, 34, 34, 0.5);
  color: #555;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  margin-top: 20px;
  position: relative;
  text-align: center;
  width: 302px;
}
.image-effecter-wrapper .image-effecter .image-preview label::before, .image-effecter-wrapper .image-effecter .image-preview label::after {
  position: absolute;
  color: #fff;
  content: 'image select';
  height: 20px;
  left: 0;
  right: 0;
  z-index: 9;
  background: #555;
  transition: 0.3s;
  overflow: hidden;
}
.image-effecter-wrapper .image-effecter .image-preview label::before {
  top: 0;
}
.image-effecter-wrapper .image-effecter .image-preview label::after {
  bottom: 0;
  line-height: 0px;
}
.image-effecter-wrapper .image-effecter .image-preview label:hover::before, .image-effecter-wrapper .image-effecter .image-preview label:hover::after {
  box-shadow: 0 0 10px rgba(34, 34, 34, 0.5);
  left: -5px;
  right: -5px;
}
.image-effecter-wrapper .image-effecter .image-preview label:hover::before {
  top: -15px;
}
.image-effecter-wrapper .image-effecter .image-preview label:hover::after {
  bottom: -15px;
}
.image-effecter-wrapper .image-effecter .image-preview input[type="file"] {
  display: none;
}
