@charset "UTF-8";
/*

．〃∩ ∧＿∧
　⊂⌒(　･ω･)   
　　＼_っ⌒/⌒c _____ TOKIWA ORIGIN 2019.10.31 _____
　　　　⌒ ⌒
*/
/* ----- RESET ----- */
html {
  box-sizing: border-box;
  word-break: break-word;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

body {
  font-size: 16px;
  line-height: 1.6;
}

hr {
  border-top: 1px solid;
  height: 0;
  overflow: visible;
}

details,
main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 0.8em;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
}
a:active, a:hover {
  outline-width: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1.0em;
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

fieldset {
  border: 1px solid;
  padding: 10px;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0 0.5em;
  white-space: normal;
}

button,
input,
select,
textarea {
  border: none;
  border: 1px solid;
  border-radius: 0;
  font: inherit;
}

button,
select {
  text-transform: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}
select::-ms-expand {
  display: none;
}
select::-ms-value {
  color: currentColor;
}

optgroup {
  font: inherit;
  font-weight: bold;
}

[type="text"],
[type="pasword"],
[type="email"],
[type="number"] {
  width: 100%;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
  width: 100%;
}

label {
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5em;
}
label:last-of-type {
  margin-right: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  overflow: visible;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  -webkit-appearance: button;
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[disabled] {
  cursor: default;
}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: bottom;
}

progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

/* ----- FORM ----- */
input,
select,
textarea {
  border-color: #aaa;
}

/* ----- BASIC ----- */
/* ----- LAYOUT ----- */
body {
  background: #eee;
  color: #222;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

header {
  height: 100vh;
  width: 280px;
}

main {
  height: 100vh;
  width: calc(100% - 280px);
}

/* ----- HEADER ----- */
header {
  background: #060;
  overflow: hidden;
  position: relative;
}
header h1 {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
}
header h1 span {
  color: #fff;
  display: block;
  font-family: serif;
  font-size: 3.0em;
  line-height: 1.4;
}
header h1 img {
  border-radius: 100%;
}

/* ----- MAIN ----- */
main {
  padding-left: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
main .main-wrapper {
  background: #fff;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: calc(100% - 40px);
}
main .main-wrapper article {
  background: url(../images/main_background.png);
  min-height: 100vh;
}

/* ----- NAV ----- */
nav {
  position: relative;
  width: 40px;
}
nav ul {
  list-style: none;
  right: 0;
}
nav ul li a {
  background: #fff;
  border-left: 4px solid #393;
  border-radius: 4px 0 0 4px;
  display: block;
  margin-top: 10px;
  padding: 10px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  width: 100%;
}
nav ul li a span {
  color: #555;
  font-weight: bold;
  transition: 0.3s;
  writing-mode: vertical-rl;
}
nav ul li a::after {
  background: #c00;
  bottom: 3px;
  box-shadow: 0 5px 3px rgba(34, 34, 34, 0.7);
  content: "";
  display: block;
  height: 10px;
  left: -3px;
  position: absolute;
  transform: rotate(-6deg);
  width: 100%;
  z-index: -1;
}
nav ul li a:hover, nav ul li a.active {
  border-left-color: #f93;
  margin-left: -30px;
  width: 70px;
}
nav ul li a.active span {
  writing-mode: inherit;
}

/* ----- ARTICLE ----- */
article {
  font-size: 1.5em;
  padding: 20px 40px;
}
article h2 {
  text-align: center;
}
article p,
article ul,
article ol,
article dl,
article table {
  margin-top: 20px;
}
article p:first-child,
article ul:first-child,
article ol:first-child,
article dl:first-child,
article table:first-child {
  margin-top: 0;
}
article dl dt {
  font-weight: bold;
}
article table {
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
}
article table tr {
  border-bottom: 1px solid #aaa;
}
article table tr th {
  border-right: 1px solid #aaa;
  padding: 10px;
  text-align: left;
}
article table tr td {
  border-right: 1px solid #aaa;
  padding: 10px;
}

.card {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 0 40px rgba(34, 34, 34, 0.05), 0px 0px 3px rgba(34, 34, 34, 0.3);
  margin-top: 40px;
  padding: 20px 40px;
}
.card:first-of-type {
  margin-top: 20px;
}

/* ----- PROFILE ----- */
/* ----- SKILL ----- */
.skill-status {
  list-style: none;
}
.skill-status li {
  background: url(../images/skill_star.png) no-repeat;
  line-height: 40px;
  height: 40px;
}
.skill-status li.s1 {
  background-position: right 0px;
}
.skill-status li.s2 {
  background-position: right -40px;
}
.skill-status li.s3 {
  background-position: right -80px;
}
.skill-status li.s4 {
  background-position: right -120px;
}
.skill-status li.s5 {
  background-position: right -160px;
}

/* ----- SAMPLE ----- */
.sample-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.sample-wrapper .sample-item {
  cursor: pointer;
  margin-top: 40px;
  min-width: 200px;
  width: calc((100% - 80.5px) / 3);
}

.sample-view-window {
  background: rgba(255, 255, 255, 0.7);
  bottom: 20px;
  box-shadow: inset 0 0 40px rgba(34, 34, 34, 0.05), 0px 0px 3px rgba(34, 34, 34, 0.3);
  left: 20px;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 99;
}
.sample-view-window .sample-view-wrapper {
  height: 100%;
  padding: 40px;
  position: relative;
}
.sample-view-window .sample-view-wrapper .sample-view-image {
  text-align: center;
}
.sample-view-window .sample-view-wrapper .sample-view-image img {
  max-height: 70vh;
}
.sample-view-window .sample-view-wrapper .sample-view-text {
  margin-top: 20px;
}
.sample-view-window .sample-view-wrapper .sample-view-link {
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
.sample-view-window .sample-view-navigation {
  list-style: none;
}
.sample-view-window .sample-view-navigation li {
  background: #fff;
  border-radius: 3px;
  cursor: pointer;
  line-height: 1.0;
  padding: 0 3px;
  position: absolute;
  bottom: -10px;
}
.sample-view-window .sample-view-navigation li.sample-view-navigation-prev {
  left: -10px;
}
.sample-view-window .sample-view-navigation li.sample-view-navigation-next {
  right: -10px;
}
.sample-view-window .sample-view-navigation li.sample-view-navigation-close {
  left: 50%;
  transform: translateX(-50%);
}

/* ----- ADD ----- */
/* ----- TOOLTIP ----- */
.tooltip {
  position: relative;
}
.tooltip::after {
  background: #222;
  border-radius: 3px;
  bottom: 2.0em;
  color: #fff;
  content: attr(data-tooltip);
  display: none;
  font-size: 0.8em;
  left: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
  animation: fadeIn 0.3s 1 linear forwards;
  animation-delay: 0s;
}
.tooltip:hover::after {
  display: block;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
/* -----  ----- */
.anime-rainbow {
  font-weight: bold;
  cursor: help;
}
.anime-rainbow:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 2s infinite linear forwards;
  animation-delay: 0s;
}

@-webkit-keyframes rainbow {
  0% {
    background-image: -webkit-linear-gradient(left, #f99, #f60, #fc3);
    background-image: -moz-linear-gradient(left, #f99, #f60, #fc3);
    background-image: -o-linear-gradient(left, #f99, #f60, #fc3);
    background-image: -ms-linear-gradient(left, #f99, #f60, #fc3);
    background-image: linear-gradient(left, #f99, #f60, #fc3);
  }
  14.28% {
    background-image: -webkit-linear-gradient(left, #f60, #fc3, #7f0);
    background-image: -moz-linear-gradient(left, #f60, #fc3, #7f0);
    background-image: -o-linear-gradient(left, #f60, #fc3, #7f0);
    background-image: -ms-linear-gradient(left, #f60, #fc3, #7f0);
    background-image: linear-gradient(left, #f60, #fc3, #7f0);
  }
  28.56% {
    background-image: -webkit-linear-gradient(left, #fc3, #7f0, #393);
    background-image: -moz-linear-gradient(left, #fc3, #7f0, #393);
    background-image: -o-linear-gradient(left, #fc3, #7f0, #393);
    background-image: -ms-linear-gradient(left, #fc3, #7f0, #393);
    background-image: linear-gradient(left, #fc3, #7f0, #393);
  }
  42.84% {
    background-image: -webkit-linear-gradient(left, #7f0, #393, #06c);
    background-image: -moz-linear-gradient(left, #7f0, #393, #06c);
    background-image: -o-linear-gradient(left, #7f0, #393, #06c);
    background-image: -ms-linear-gradient(left, #7f0, #393, #06c);
    background-image: linear-gradient(left, #7f0, #393, #06c);
  }
  57.12% {
    background-image: -webkit-linear-gradient(left, #393, #06c, #509);
    background-image: -moz-linear-gradient(left, #393, #06c, #509);
    background-image: -o-linear-gradient(left, #393, #06c, #509);
    background-image: -ms-linear-gradient(left, #393, #06c, #509);
    background-image: linear-gradient(left, #393, #06c, #509);
  }
  71.4% {
    background-image: -webkit-linear-gradient(left, #06c, #509, #e06);
    background-image: -moz-linear-gradient(left, #06c, #509, #e06);
    background-image: -o-linear-gradient(left, #06c, #509, #e06);
    background-image: -ms-linear-gradient(left, #06c, #509, #e06);
    background-image: linear-gradient(left, #06c, #509, #e06);
  }
  85.68% {
    background-image: -webkit-linear-gradient(left, #509, #e06, #f99);
    background-image: -moz-linear-gradient(left, #509, #e06, #f99);
    background-image: -o-linear-gradient(left, #509, #e06, #f99);
    background-image: -ms-linear-gradient(left, #509, #e06, #f99);
    background-image: linear-gradient(left, #509, #e06, #f99);
  }
  100% {
    background-image: -webkit-linear-gradient(left, #e06, #f99, #f60);
    background-image: -moz-linear-gradient(left, #e06, #f99, #f60);
    background-image: -o-linear-gradient(left, #e06, #f99, #f60);
    background-image: -ms-linear-gradient(left, #e06, #f99, #f60);
    background-image: linear-gradient(left, #e06, #f99, #f60);
  }
}
@-moz-keyframes rainbow {
  0% {
    background-image: -webkit-linear-gradient(left, #f99, #f60, #fc3);
    background-image: -moz-linear-gradient(left, #f99, #f60, #fc3);
    background-image: -o-linear-gradient(left, #f99, #f60, #fc3);
    background-image: -ms-linear-gradient(left, #f99, #f60, #fc3);
    background-image: linear-gradient(left, #f99, #f60, #fc3);
  }
  14.28% {
    background-image: -webkit-linear-gradient(left, #f60, #fc3, #7f0);
    background-image: -moz-linear-gradient(left, #f60, #fc3, #7f0);
    background-image: -o-linear-gradient(left, #f60, #fc3, #7f0);
    background-image: -ms-linear-gradient(left, #f60, #fc3, #7f0);
    background-image: linear-gradient(left, #f60, #fc3, #7f0);
  }
  28.56% {
    background-image: -webkit-linear-gradient(left, #fc3, #7f0, #393);
    background-image: -moz-linear-gradient(left, #fc3, #7f0, #393);
    background-image: -o-linear-gradient(left, #fc3, #7f0, #393);
    background-image: -ms-linear-gradient(left, #fc3, #7f0, #393);
    background-image: linear-gradient(left, #fc3, #7f0, #393);
  }
  42.84% {
    background-image: -webkit-linear-gradient(left, #7f0, #393, #06c);
    background-image: -moz-linear-gradient(left, #7f0, #393, #06c);
    background-image: -o-linear-gradient(left, #7f0, #393, #06c);
    background-image: -ms-linear-gradient(left, #7f0, #393, #06c);
    background-image: linear-gradient(left, #7f0, #393, #06c);
  }
  57.12% {
    background-image: -webkit-linear-gradient(left, #393, #06c, #509);
    background-image: -moz-linear-gradient(left, #393, #06c, #509);
    background-image: -o-linear-gradient(left, #393, #06c, #509);
    background-image: -ms-linear-gradient(left, #393, #06c, #509);
    background-image: linear-gradient(left, #393, #06c, #509);
  }
  71.4% {
    background-image: -webkit-linear-gradient(left, #06c, #509, #e06);
    background-image: -moz-linear-gradient(left, #06c, #509, #e06);
    background-image: -o-linear-gradient(left, #06c, #509, #e06);
    background-image: -ms-linear-gradient(left, #06c, #509, #e06);
    background-image: linear-gradient(left, #06c, #509, #e06);
  }
  85.68% {
    background-image: -webkit-linear-gradient(left, #509, #e06, #f99);
    background-image: -moz-linear-gradient(left, #509, #e06, #f99);
    background-image: -o-linear-gradient(left, #509, #e06, #f99);
    background-image: -ms-linear-gradient(left, #509, #e06, #f99);
    background-image: linear-gradient(left, #509, #e06, #f99);
  }
  100% {
    background-image: -webkit-linear-gradient(left, #e06, #f99, #f60);
    background-image: -moz-linear-gradient(left, #e06, #f99, #f60);
    background-image: -o-linear-gradient(left, #e06, #f99, #f60);
    background-image: -ms-linear-gradient(left, #e06, #f99, #f60);
    background-image: linear-gradient(left, #e06, #f99, #f60);
  }
}
@keyframes rainbow {
  0% {
    background-image: -webkit-linear-gradient(left, #f99, #f60, #fc3);
    background-image: -moz-linear-gradient(left, #f99, #f60, #fc3);
    background-image: -o-linear-gradient(left, #f99, #f60, #fc3);
    background-image: -ms-linear-gradient(left, #f99, #f60, #fc3);
    background-image: linear-gradient(left, #f99, #f60, #fc3);
  }
  14.28% {
    background-image: -webkit-linear-gradient(left, #f60, #fc3, #7f0);
    background-image: -moz-linear-gradient(left, #f60, #fc3, #7f0);
    background-image: -o-linear-gradient(left, #f60, #fc3, #7f0);
    background-image: -ms-linear-gradient(left, #f60, #fc3, #7f0);
    background-image: linear-gradient(left, #f60, #fc3, #7f0);
  }
  28.56% {
    background-image: -webkit-linear-gradient(left, #fc3, #7f0, #393);
    background-image: -moz-linear-gradient(left, #fc3, #7f0, #393);
    background-image: -o-linear-gradient(left, #fc3, #7f0, #393);
    background-image: -ms-linear-gradient(left, #fc3, #7f0, #393);
    background-image: linear-gradient(left, #fc3, #7f0, #393);
  }
  42.84% {
    background-image: -webkit-linear-gradient(left, #7f0, #393, #06c);
    background-image: -moz-linear-gradient(left, #7f0, #393, #06c);
    background-image: -o-linear-gradient(left, #7f0, #393, #06c);
    background-image: -ms-linear-gradient(left, #7f0, #393, #06c);
    background-image: linear-gradient(left, #7f0, #393, #06c);
  }
  57.12% {
    background-image: -webkit-linear-gradient(left, #393, #06c, #509);
    background-image: -moz-linear-gradient(left, #393, #06c, #509);
    background-image: -o-linear-gradient(left, #393, #06c, #509);
    background-image: -ms-linear-gradient(left, #393, #06c, #509);
    background-image: linear-gradient(left, #393, #06c, #509);
  }
  71.4% {
    background-image: -webkit-linear-gradient(left, #06c, #509, #e06);
    background-image: -moz-linear-gradient(left, #06c, #509, #e06);
    background-image: -o-linear-gradient(left, #06c, #509, #e06);
    background-image: -ms-linear-gradient(left, #06c, #509, #e06);
    background-image: linear-gradient(left, #06c, #509, #e06);
  }
  85.68% {
    background-image: -webkit-linear-gradient(left, #509, #e06, #f99);
    background-image: -moz-linear-gradient(left, #509, #e06, #f99);
    background-image: -o-linear-gradient(left, #509, #e06, #f99);
    background-image: -ms-linear-gradient(left, #509, #e06, #f99);
    background-image: linear-gradient(left, #509, #e06, #f99);
  }
  100% {
    background-image: -webkit-linear-gradient(left, #e06, #f99, #f60);
    background-image: -moz-linear-gradient(left, #e06, #f99, #f60);
    background-image: -o-linear-gradient(left, #e06, #f99, #f60);
    background-image: -ms-linear-gradient(left, #e06, #f99, #f60);
    background-image: linear-gradient(left, #e06, #f99, #f60);
  }
}
/* ----- SMART PHONE ----- */
@media screen and (max-width: 580px) {
  /* ----- LAYOUT ----- */
  html {
    scroll-behavior: smooth;
  }

  header {
    height: auto;
    width: 100%;
  }

  main {
    height: auto;
    width: 100%;
  }

  /* ----- HEADER ----- */
  header h1 {
    left: inherit;
    position: static;
    top: inherit;
    transform: inherit;
  }
  header h1 span {
    display: inline-block;
    font-size: 1.5em;
    line-height: 80px;
  }
  header h1 img {
    border-radius: 100%;
    width: 80px;
  }

  /* ----- MAIN ----- */
  main {
    padding-left: 0;
  }
  main .main-wrapper {
    height: inherit;
    overflow-y: inherit;
    width: 100%;
  }

  /* ----- NAV ----- */
  nav {
    width: 100%;
  }
  nav.is_fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: -40px;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
  nav ul li {
    flex: 1;
  }
  nav ul li a {
    border-left: 1px dotted #393;
    border-radius: 0;
    height: 40px;
    line-height: 40px;
    margin-top: 0;
    padding: 0;
  }
  nav ul li a span {
    font-weight: normal;
    writing-mode: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
  }
  nav ul li a::after {
    display: none;
  }
  nav ul li a:hover, nav ul li a.active {
    border-left-color: #393;
    margin-left: 0;
    width: inherit;
  }
  nav ul li:first-of-type a {
    border-left: none;
  }

  /* ----- ARTICLE ----- */
  article {
    font-size: 1.0em;
    padding: 65px 15px 15px;
  }
  article p,
  article ul,
  article ol,
  article dl,
  article table {
    margin-top: 15px;
  }
  article ul,
  article ol {
    margin-left: 15px;
  }

  .card {
    padding: 15px;
  }
}
