$black   : #222;
$white   : #fff;
$red1    : #f99;
$red2    : #e55;
$red3    : #c00;
$orange1 : #fc6;
$orange2 : #f93;
$orange3 : #f60;
$yellow1 : #ffa;
$yellow2 : #fe7;
$yellow3 : #fc3;
$lime1   : #af6;
$lime2   : #7f0;
$lime3   : #4e2;
$green1  : #6c6;
$green2  : #393;
$green3  : #060;
$blue1   : #8df;
$blue2   : #4ae;
$blue3   : #06c;
$purple1 : #c9f;
$purple2 : #94c;
$purple3 : #509;
$pink1   : #fcc;
$pink2   : #f69;
$pink3   : #e06;
$gray1   : #eee;
$gray2   : #aaa;
$gray3   : #555;
