@charset "UTF-8";
/*

．〃∩ ∧＿∧
　⊂⌒(　･ω･)   
　　＼_っ⌒/⌒c _____ TOKIWA ORIGIN 2019.11.23 _____
　　　　⌒ ⌒
*/
/* ----- BASIC ----- */
/* ----- SAMPLE 25 ----- */
._cake_wrapper ._cake_hole {
  margin: 20px auto;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: #fcc;
}
._cake_wrapper ._cake_hole hr {
  display: none;
  position: absolute;
  margin: 0;
  top: 149px;
  left: 150px;
  width: 160px;
  border: none;
  border-top: 1px solid #f69;
  transform-origin: left center;
}
._cake_wrapper ._cake_hole ._cake_hole_type {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 2.0em;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 0 0 #f69, -2px 0 0 #f69, 0 2px 0 #f69, 0 -2px 0 #f69, 2px 2px 0 #f69, -2px -2px 0 #f69, -2px 2px 0 #f69, 2px -2px 0 #f69;
}
._cake_wrapper ._cake_hole ._cake_hole_type1 {
  display: block;
}
._cake_wrapper ._cake_cut_select {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
._cake_wrapper ._cake_cut_select li {
  margin-top: 5px;
  width: calc((100% - 20px) / 5);
}
._cake_wrapper ._cake_cut_select li label {
  display: block;
  padding: 5px;
  border-radius: 5px;
  background: #aaa;
  text-align: center;
  color: #555;
  cursor: pointer;
}
._cake_wrapper input[type="radio"] {
  display: none;
}

#cut_2:checked ~ ._cake_hole ._cake_hole_type1 {
  display: none;
}
#cut_2:checked ~ ._cake_hole ._cake_hole_type2 {
  display: block;
}
#cut_2:checked ~ ._cake_hole ._cake_cutter1 {
  display: block;
  transform: rotate(-90deg);
}
#cut_2:checked ~ ._cake_hole ._cake_cutter2 {
  display: block;
  transform: rotate(90deg);
}
#cut_2:checked ~ ._cake_cut_select li [for="cut_2"] {
  background: #f69;
  color: #e06;
}

#cut_3:checked ~ ._cake_hole ._cake_hole_type1 {
  display: none;
}
#cut_3:checked ~ ._cake_hole ._cake_hole_type3 {
  display: block;
}
#cut_3:checked ~ ._cake_hole ._cake_cutter1 {
  display: block;
  transform: rotate(-90deg);
}
#cut_3:checked ~ ._cake_hole ._cake_cutter2 {
  display: block;
  transform: rotate(30deg);
}
#cut_3:checked ~ ._cake_hole ._cake_cutter3 {
  display: block;
  transform: rotate(150deg);
}
#cut_3:checked ~ ._cake_cut_select li [for="cut_3"] {
  background: #f69;
  color: #e06;
}

#cut_4:checked ~ ._cake_hole ._cake_hole_type1 {
  display: none;
}
#cut_4:checked ~ ._cake_hole ._cake_hole_type4 {
  display: block;
}
#cut_4:checked ~ ._cake_hole ._cake_cutter1 {
  display: block;
  transform: rotate(-90deg);
}
#cut_4:checked ~ ._cake_hole ._cake_cutter2 {
  display: block;
  transform: rotate(0deg);
}
#cut_4:checked ~ ._cake_hole ._cake_cutter3 {
  display: block;
  transform: rotate(90deg);
}
#cut_4:checked ~ ._cake_hole ._cake_cutter4 {
  display: block;
  transform: rotate(180deg);
}
#cut_4:checked ~ ._cake_cut_select li [for="cut_4"] {
  background: #f69;
  color: #e06;
}

#cut_5:checked ~ ._cake_hole ._cake_hole_type1 {
  display: none;
}
#cut_5:checked ~ ._cake_hole ._cake_hole_type5 {
  display: block;
}
#cut_5:checked ~ ._cake_hole ._cake_cutter1 {
  display: block;
  transform: rotate(-90deg);
}
#cut_5:checked ~ ._cake_hole ._cake_cutter2 {
  display: block;
  transform: rotate(-18deg);
}
#cut_5:checked ~ ._cake_hole ._cake_cutter3 {
  display: block;
  transform: rotate(54deg);
}
#cut_5:checked ~ ._cake_hole ._cake_cutter4 {
  display: block;
  transform: rotate(126deg);
}
#cut_5:checked ~ ._cake_hole ._cake_cutter5 {
  display: block;
  transform: rotate(198deg);
}
#cut_5:checked ~ ._cake_cut_select li [for="cut_5"] {
  background: #f69;
  color: #e06;
}

#cut_6:checked ~ ._cake_hole ._cake_hole_type1 {
  display: none;
}
#cut_6:checked ~ ._cake_hole ._cake_hole_type6 {
  display: block;
}
#cut_6:checked ~ ._cake_hole ._cake_cutter1 {
  display: block;
  transform: rotate(-90deg);
}
#cut_6:checked ~ ._cake_hole ._cake_cutter2 {
  display: block;
  transform: rotate(-30deg);
}
#cut_6:checked ~ ._cake_hole ._cake_cutter3 {
  display: block;
  transform: rotate(30deg);
}
#cut_6:checked ~ ._cake_hole ._cake_cutter4 {
  display: block;
  transform: rotate(90deg);
}
#cut_6:checked ~ ._cake_hole ._cake_cutter5 {
  display: block;
  transform: rotate(150deg);
}
#cut_6:checked ~ ._cake_hole ._cake_cutter6 {
  display: block;
  transform: rotate(210deg);
}
#cut_6:checked ~ ._cake_cut_select li [for="cut_6"] {
  background: #f69;
  color: #e06;
}

#cut_7:checked ~ ._cake_hole ._cake_hole_type1 {
  display: none;
}
#cut_7:checked ~ ._cake_hole ._cake_hole_type7 {
  display: block;
}
#cut_7:checked ~ ._cake_hole ._cake_cutter1 {
  display: block;
  transform: rotate(-90deg);
}
#cut_7:checked ~ ._cake_hole ._cake_cutter2 {
  display: block;
  transform: rotate(-38.5714285714deg);
}
#cut_7:checked ~ ._cake_hole ._cake_cutter3 {
  display: block;
  transform: rotate(12.8571428571deg);
}
#cut_7:checked ~ ._cake_hole ._cake_cutter4 {
  display: block;
  transform: rotate(64.2857142857deg);
}
#cut_7:checked ~ ._cake_hole ._cake_cutter5 {
  display: block;
  transform: rotate(115.7142857143deg);
}
#cut_7:checked ~ ._cake_hole ._cake_cutter6 {
  display: block;
  transform: rotate(167.1428571429deg);
}
#cut_7:checked ~ ._cake_hole ._cake_cutter7 {
  display: block;
  transform: rotate(218.5714285714deg);
}
#cut_7:checked ~ ._cake_cut_select li [for="cut_7"] {
  background: #f69;
  color: #e06;
}

#cut_8:checked ~ ._cake_hole ._cake_hole_type1 {
  display: none;
}
#cut_8:checked ~ ._cake_hole ._cake_hole_type8 {
  display: block;
}
#cut_8:checked ~ ._cake_hole ._cake_cutter1 {
  display: block;
  transform: rotate(-90deg);
}
#cut_8:checked ~ ._cake_hole ._cake_cutter2 {
  display: block;
  transform: rotate(-45deg);
}
#cut_8:checked ~ ._cake_hole ._cake_cutter3 {
  display: block;
  transform: rotate(0deg);
}
#cut_8:checked ~ ._cake_hole ._cake_cutter4 {
  display: block;
  transform: rotate(45deg);
}
#cut_8:checked ~ ._cake_hole ._cake_cutter5 {
  display: block;
  transform: rotate(90deg);
}
#cut_8:checked ~ ._cake_hole ._cake_cutter6 {
  display: block;
  transform: rotate(135deg);
}
#cut_8:checked ~ ._cake_hole ._cake_cutter7 {
  display: block;
  transform: rotate(180deg);
}
#cut_8:checked ~ ._cake_hole ._cake_cutter8 {
  display: block;
  transform: rotate(225deg);
}
#cut_8:checked ~ ._cake_cut_select li [for="cut_8"] {
  background: #f69;
  color: #e06;
}

#cut_9:checked ~ ._cake_hole ._cake_hole_type1 {
  display: none;
}
#cut_9:checked ~ ._cake_hole ._cake_hole_type9 {
  display: block;
}
#cut_9:checked ~ ._cake_hole ._cake_cutter1 {
  display: block;
  transform: rotate(-90deg);
}
#cut_9:checked ~ ._cake_hole ._cake_cutter2 {
  display: block;
  transform: rotate(-50deg);
}
#cut_9:checked ~ ._cake_hole ._cake_cutter3 {
  display: block;
  transform: rotate(-10deg);
}
#cut_9:checked ~ ._cake_hole ._cake_cutter4 {
  display: block;
  transform: rotate(30deg);
}
#cut_9:checked ~ ._cake_hole ._cake_cutter5 {
  display: block;
  transform: rotate(70deg);
}
#cut_9:checked ~ ._cake_hole ._cake_cutter6 {
  display: block;
  transform: rotate(110deg);
}
#cut_9:checked ~ ._cake_hole ._cake_cutter7 {
  display: block;
  transform: rotate(150deg);
}
#cut_9:checked ~ ._cake_hole ._cake_cutter8 {
  display: block;
  transform: rotate(190deg);
}
#cut_9:checked ~ ._cake_hole ._cake_cutter9 {
  display: block;
  transform: rotate(230deg);
}
#cut_9:checked ~ ._cake_cut_select li [for="cut_9"] {
  background: #f69;
  color: #e06;
}

#cut_10:checked ~ ._cake_hole ._cake_hole_type1 {
  display: none;
}
#cut_10:checked ~ ._cake_hole ._cake_hole_type10 {
  display: block;
}
#cut_10:checked ~ ._cake_hole ._cake_cutter1 {
  display: block;
  transform: rotate(-90deg);
}
#cut_10:checked ~ ._cake_hole ._cake_cutter2 {
  display: block;
  transform: rotate(-54deg);
}
#cut_10:checked ~ ._cake_hole ._cake_cutter3 {
  display: block;
  transform: rotate(-18deg);
}
#cut_10:checked ~ ._cake_hole ._cake_cutter4 {
  display: block;
  transform: rotate(18deg);
}
#cut_10:checked ~ ._cake_hole ._cake_cutter5 {
  display: block;
  transform: rotate(54deg);
}
#cut_10:checked ~ ._cake_hole ._cake_cutter6 {
  display: block;
  transform: rotate(90deg);
}
#cut_10:checked ~ ._cake_hole ._cake_cutter7 {
  display: block;
  transform: rotate(126deg);
}
#cut_10:checked ~ ._cake_hole ._cake_cutter8 {
  display: block;
  transform: rotate(162deg);
}
#cut_10:checked ~ ._cake_hole ._cake_cutter9 {
  display: block;
  transform: rotate(198deg);
}
#cut_10:checked ~ ._cake_hole ._cake_cutter10 {
  display: block;
  transform: rotate(234deg);
}
#cut_10:checked ~ ._cake_cut_select li [for="cut_10"] {
  background: #f69;
  color: #e06;
}

/* ----- SMART PHONE ----- */
/* HEAD */
.prettyprint {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 0.8em;
  overflow-x: auto;
}
.prettyprint .linenums li {
  list-style-position: outside;
  list-style-type: decimal-leading-zero;
  border-left: 1px dashed #555;
}

.backblack {
  margin: 0;
  padding: 10px;
  background: #222;
}

.through {
  color: #aaa;
  text-decoration: line-through;
}

.cf:after {
  clear: both;
  content: "";
  display: block;
}

/* fs */
.fs80 {
  font-size: 0.8em;
}

.fs80b {
  font-size: 0.8em;
  font-weight: bold;
}

.fs90 {
  font-size: 0.9em;
}

.fs90b {
  font-size: 0.9em;
  font-weight: bold;
}

.fs100 {
  font-size: 1em;
}

.fs100b {
  font-size: 1em;
  font-weight: bold;
}

.fs110 {
  font-size: 1.1em;
}

.fs110b {
  font-size: 1.1em;
  font-weight: bold;
}

.fs120 {
  font-size: 1.2em;
}

.fs120b {
  font-size: 1.2em;
  font-weight: bold;
}

.fs130 {
  font-size: 1.3em;
}

.fs130b {
  font-size: 1.3em;
  font-weight: bold;
}

.fs140 {
  font-size: 1.4em;
}

.fs140b {
  font-size: 1.4em;
  font-weight: bold;
}

.fs150 {
  font-size: 1.5em;
}

.fs150b {
  font-size: 1.5em;
  font-weight: bold;
}

.fs160 {
  font-size: 1.6em;
}

.fs160b {
  font-size: 1.6em;
  font-weight: bold;
}

.fs170 {
  font-size: 1.7em;
}

.fs170b {
  font-size: 1.7em;
  font-weight: bold;
}

.fs180 {
  font-size: 1.8em;
}

.fs180b {
  font-size: 1.8em;
  font-weight: bold;
}

.fs190 {
  font-size: 1.9em;
}

.fs190b {
  font-size: 1.9em;
  font-weight: bold;
}

.fs200 {
  font-size: 2em;
}

.fs200b {
  font-size: 2em;
  font-weight: bold;
}

.fs210 {
  font-size: 2.1em;
}

.fs210b {
  font-size: 2.1em;
  font-weight: bold;
}

.fs220 {
  font-size: 2.2em;
}

.fs220b {
  font-size: 2.2em;
  font-weight: bold;
}

.fs230 {
  font-size: 2.3em;
}

.fs230b {
  font-size: 2.3em;
  font-weight: bold;
}

.fs240 {
  font-size: 2.4em;
}

.fs240b {
  font-size: 2.4em;
  font-weight: bold;
}

.fs250 {
  font-size: 2.5em;
}

.fs250b {
  font-size: 2.5em;
  font-weight: bold;
}
